<div class="landing-campaigns">
  <div class="area-title">
    <h2>Aktualne kampanje</h2>
    <a href="#">Pretekle kampanje</a>
  </div>
  {% for i in "  " %}
  <div class="card gutter bg-alt">
    <div class="landing-campaign-item">
      <div class="campaign-image">
        <img src="https://placehold.it/200x200" alt="">
      </div>
      <div class="campaign-content">
        <h3 class="campaign-title">Kampanje še niso končane</h3>
        <div class="rich-text">
          <p>
            Treba se je zmenit, kaj točno rabijo kampanje iz tehničnega vidika, da lahko naredim v adminu pravilno.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet magnam recusandae natus at sequi quam quidem tenetur. Recusandae magni necessitatibus ea, quisquam doloribus temporibus repellendus, rem rerum distinctio praesentium a.
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
