{% load static solo_tags %}
{% get_solo 'home.LandingPageConfig' as landing_page %}

<div class="card gutter bg-alt">
  {% for sidebarlink in landing_page.sidebarlink_set.all %}
  {% if forloop.counter0 != 0 and sidebarlink.gap %}
</div>
<div class="card gutter bg-alt">
  {% endif %}
  {% if sidebarlink.icon == 'box-title' %}
  <h2 class="monitoring-legend">{{ sidebarlink.title }}</h2>
  {% else %}
  <a href="{{ sidebarlink.url }}" class="monitoring-link">
    <div class="monitoring-icon">
      {% if sidebarlink.icon == 'eye' %}
      <img src="{% static "svg/eye.svg" %}" alt="">
      {% elif sidebarlink.icon == 'handshake' %}
      <img src="{% static "svg/handshake.svg" %}" alt="">
      {% endif %}
    </div>
    <div class="monitoring-content">
      <h3 class="monitoring-title">{{ sidebarlink.title }}</h3>
      <p>{{ sidebarlink.description }}</p>
    </div>
  </a>
  {% endif %}
  {% endfor %}
</div>
