{% load static %}

<div class="card gutter bg-alt">
  <a href="/drzavnozborske-volitve-2022/" class="monitoring-link">
    <div class="monitoring-icon">
      <img src="{% static "svg/handshake.svg" %}" alt="">
    </div>
    <div class="monitoring-content">
      <h2 class="monitoring-title">Zaveze vlade</h2>
      <p>Poglej XXX zavez, ki jih je na volitvah XXX dala 14. slovenska vlada pod vodsvom Roberta Goloba.</p>
    </div>
  </a>
  <a href="/monitoring/" class="monitoring-link">
    <div class="monitoring-icon">
      <img src="{% static "svg/eye.svg" %}" alt="">
    </div>
    <div class="monitoring-content">
      <h2 class="monitoring-title">Monitoring</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </a>
</div>

<div class="card gutter bg-alt">
  <a href="/predsedniske-2022/" class="monitoring-link">
    <div class="monitoring-icon">
      <img src="{% static "svg/handshake.svg" %}" alt="">
    </div>
    <div class="monitoring-content">
      <h2 class="monitoring-title">Zaveze predsednice</h2>
      <p>Iure fuga itaque quisquam, facere, quaerat neque, illo amet atque quidem nihil dolor odio saepe ut aut enim illum! Quia, debitis distinctio?</p>
    </div>
  </a>
</div>

<div class="card gutter bg-alt">
  <a href="/lokalne-volitve-2022/" class="monitoring-link">
    <div class="monitoring-icon">
      <img src="{% static "svg/handshake.svg" %}" alt="">
    </div>
    <div class="monitoring-content">
      <h2 class="monitoring-title">Zaveze županov</h2>
      <p>Doloribus quibusdam placeat, quaerat cupiditate deserunt sed nostrum!</p>
    </div>
  </a>
</div>
