{% load static martortags %}

<div class="card gutter bg-alt">
  <article class="landing-news-item">
    <div class="publish-date">{{ news_item.publish_time|date:"j. F Y" }}</div>
    <h3 class="news-title"><a href="{{ news_item.get_absolute_url }}">{{ news_item.title }}</a></h3>
    <div class="rich-text">
      {{ news_item.intro|safe_markdown }}
    </div>
    <a href="{{ news_item.get_absolute_url }}" class="read-more">
      <span>Preberi več</span>
      <img src="{% static "svg/noun-right-arrow-1086470.svg" %}" class="inline-icon" alt="">
    </a>
  </article>
</div>
