{% load static solo_tags martortags %}
{% get_solo 'home.LandingPageConfig' as landing_page %}

{% for footer_box in landing_page.footerbox_set.all %}
<h2 class="monitoring-legend">{{ footer_box.title }}</h2>
<div class="monitoring-link">
  <div class="monitoring-icon">
    {% if footer_box.icon == 'eye' %}
      <img src="{% static "svg/noun-analysis-1173637.svg" %}" alt="">
      {% elif footer_box.icon == 'handshake' %}
      <img src="{% static "svg/noun-commitment-6407590.svg" %}" alt="">
      {% elif footer_box.icon == 'support' %}
      <img src="{% static "svg/noun-join-us-5980040.svg" %}" alt="">
      {% elif footer_box.icon == 'email' %}
      <img src="{% static "svg/noun-newsletter-3833433.svg" %}" alt="">
      {% endif %}
  </div>
  <div class="monitoring-content">
    {{ footer_box.content|safe_markdown }}
  </div>
</div>
{% endfor %}

<h2 class="monitoring-legend">Podpri iniciativo kot organizacija</h2>
<div class="monitoring-link">
  <div class="monitoring-icon">
    <img src="{% static "svg/noun-join-us-5980040.svg" %}" alt="">
  </div>
  <div class="monitoring-content">
    <p>
      Če bi se radi aktivno vključili v iniciativo, pomagali pri širjenju glasu
      ali pa predlagali konkretne zahteve iz svojega področja, nam pišite na
      <a href="mailto:info@glas-ljudstva.si">info@glas-ljudstva.si</a>!
    </p>
  </div>
</div>

<h2 class="monitoring-legend">Pridruži se kot posameznik_ca</h2>
<div class="monitoring-link">
  <div class="monitoring-icon">
    <img src="{% static "svg/noun-newsletter-3833433.svg" %}" alt="">
  </div>
  <div class="monitoring-content">
    <p>
      Za začetek nam zaupaj svoj e-naslov in ostani na tekočem z dogajanjem.
    </p>
    <p class="subscribe-disclaimer">
      Z oddajo se strinjaš, da
      <a href="https://danesjenovdan.si/">Danes je nov dan</a> tvoj e-naslov
      hrani in ti občasno pošlje elektronsko sporočilo z vsebino, vezano na Glas
      ljudstva. Tvojega e-naslova ne bomo izdali nikomur (niti drugim
      sodelujočim organizacijam).
    </p>
    <form class="subscribe-form" onsubmit="return false;">
      <label for="subscribe-email">
        Vpiši svoj e-naslov
        <input type="email" id="subscribe-email" required />
      </label>
      <button id="subscribe-submit" type="submit">
        <span>Pridruži se</span>
        <img src="{% static "svg/noun-right-arrow-1086470-white.svg" %}" class="inline-icon" alt="">
      </button>
    </form>
  </div>
</div>

<script>
  const form = document.querySelector(".subscribe-form");
  const emailField = form.querySelector("#subscribe-email");
  const submitButton = form.querySelector("#subscribe-submit");
  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const email = emailField.value;

    let campaign_slug = "glas-ljudstva";
    let segment_id = 10;

    let url = `https://moj.djnd.si/${campaign_slug}/prijava?segment_id=${segment_id}`;
    url += `&email=${encodeURIComponent(email)}`;
    window.open(`${url}`, `_blank`);
  });
</script>
