{% load static %}

<h2 class="monitoring-legend">Podpri iniciativo kot organizacija</h2>
<div class="monitoring-link">
  <div class="monitoring-icon">
    <img src="{% static "svg/noun-join-us-5980040.svg" %}" alt="">
  </div>
  <div class="monitoring-content">
    <p>
      Če bi se radi aktivno vključili v iniciativo, pomagali pri širjenju glasu
      ali pa predlagali konkretne zahteve iz svojega področja, nam pišite na
      <a href="mailto:info@glas-ljudstva.si">info@glas-ljudstva.si</a>!
    </p>
  </div>
</div>

<h2 class="monitoring-legend">Pridruži se kot posameznik_ca</h2>
<div class="monitoring-link">
  <div class="monitoring-icon">
    <img src="{% static "svg/noun-newsletter-3833433.svg" %}" alt="">
  </div>
  <div class="monitoring-content">
    <p>
      Za začetek nam zaupaj svoj e-naslov in ostani na tekočem z dogajanjem.
    </p>
    <p class="subscribe-disclaimer">
      Z oddajo se strinjaš, da
      <a href="https://danesjenovdan.si/">Danes je nov dan</a> tvoj e-naslov
      hrani in ti občasno pošlje elektronsko sporočilo z vsebino, vezano na Glas
      ljudstva. Tvojega e-naslova ne bomo izdali nikomur (niti drugim
      sodelujočim organizacijam).
    </p>
    <form class="subscribe-form" onsubmit="return false;">
      <label for="subscribe-email">
        Vpiši svoj e-naslov
        <input type="email" id="subscribe-email" required />
      </label>
      <button id="subscribe-submit" type="submit">
        <span>Pridruži se</span>
        <img src="{% static "svg/noun-right-arrow-1086470-white.svg" %}" class="inline-icon" alt="">
      </button>
    </form>
  </div>
</div>

<script>
  const form = document.querySelector(".subscribe-form");
  const emailField = form.querySelector("#subscribe-email");
  const submitButton = form.querySelector("#subscribe-submit");
  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const email = emailField.value;

    let campaign_slug = "glas-ljudstva";
    let segment_id = 10;

    let url = `https://moj.djnd.si/${campaign_slug}/prijava?segment_id=${segment_id}`;
    url += `&email=${encodeURIComponent(email)}`;
    window.open(`${url}`, `_blank`);

    // emailField.disabled = true;
    // submitButton.disabled = true;
    // try {
    //   const response = await fetch("https://podpri.lb.djnd.si/api/subscribe/", {
    //     method: "POST",
    //     headers: {
    //       "Content-Type": "application/json",
    //     },
    //     body: JSON.stringify({
    //       email: emailField.value,
    //       segment_id: 10,
    //     }),
    //   });
    //   if (response.ok) {
    //     alert("Hvala za prijavo!");
    //     emailField.value = "";
    //     emailField.disabled = false;
    //     submitButton.disabled = false;
    //   } else {
    //     alert(
    //       `Ups, nekaj je šlo narobe. :( Če se napaka ne odpravi sama, pošlji mail na vsi@danesjenovdan.si.`
    //     );
    //   }
    // } catch (error) {
    //   alert(
    //     `Ups, nekaj je šlo narobe. :( Če se napaka ne odpravi sama, pošlji mail na vsi@danesjenovdan.si.`
    //   );
    // }
  });
</script>
