{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="logo" src="{% static 'svg/logo-glasljudstva.svg' %}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><span class="wordslogo">GLAS</span><span class="wordslogo">LJUDSTVA</span></p>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
