apiVersion: apps/v1
kind: Deployment
metadata:
  name: glas-ljudstva-deployment
  labels:
    app: glas-ljudstva
spec:
  replicas: 1
  selector:
    matchLabels:
      app: glas-ljudstva
  template:
    metadata:
      labels:
        app: glas-ljudstva
    spec:
      volumes:
        - name: glas-ljudstva-storage
          emptyDir: {}
      initContainers:
        - name: collectstatic
          image: glas-ljudstva
          volumeMounts:
            - name: glas-ljudstva-storage
              mountPath: /storage
          command:
            - python
            - manage.py
            - collectstatic
            - --no-input
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: glasljudstva.k8s_settings
          envFrom:
            - secretRef:
                name: glas-ljudstva-secrets
          resources:
            requests:
              memory: 400Mi
              cpu: 200m
            limits:
              memory: 1Gi
              cpu: 500m
        - name: migrate
          image: glas-ljudstva
          volumeMounts:
            - name: glas-ljudstva-storage
              mountPath: /storage
          command:
            - python
            - manage.py
            - migrate
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: glasljudstva.k8s_settings
          envFrom:
            - secretRef:
                name: glas-ljudstva-secrets
          resources:
            requests:
              memory: 400Mi
              cpu: 200m
            limits:
              memory: 1Gi
              cpu: 500m
      containers:
        - name: glas-ljudstva
          image: glas-ljudstva
          volumeMounts:
            - name: glas-ljudstva-storage
              mountPath: /storage
          command:
            - gunicorn
            - glasljudstva.wsgi:application
            - -b
            - 0.0.0.0:8000
            - --log-level
            - DEBUG
            - --workers
            - "1"
            - --threads
            - "3"
            - --timeout
            - "120"
          ports:
            - containerPort: 8000
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: glasljudstva.k8s_settings
          envFrom:
            - secretRef:
                name: glas-ljudstva-secrets
          resources:
            requests:
              memory: 400Mi
              cpu: 200m
            limits:
              memory: 1Gi
              cpu: 500m
        - name: glas-ljudstva-nginx
          image: nginx:alpine
          volumeMounts:
            - name: glas-ljudstva-storage
              mountPath: /usr/share/nginx/html
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: 50Mi
              cpu: 50m
            limits:
              memory: 200Mi
              cpu: 100m
