apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: glas-ljudstva
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    nginx.ingress.kubernetes.io/proxy-body-size: 10m
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - glas-ljudstva.lb.djnd.si
        - demo.glas-ljudstva.si
        - glas-ljudstva.si
        - www.glas-ljudstva.si
      secretName: glas-ljudstva-tls
  rules:
    - host: glas-ljudstva.lb.djnd.si
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: glas-ljudstva
                port:
                  number: 8000
    - host: demo.glas-ljudstva.si
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: glas-ljudstva
                port:
                  number: 8000
    - host: www.glas-ljudstva.si
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: glas-ljudstva
                port:
                  number: 8000
    - host: glas-ljudstva.si
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: glas-ljudstva
                port:
                  number: 8000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: glas-ljudstva-nginx
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    nginx.ingress.kubernetes.io/enable-cors: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - files.glas-ljudstva.si
      secretName: glas-ljudstva-nginx-tls
  rules:
    - host: files.glas-ljudstva.si
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: glas-ljudstva-nginx
                port:
                  number: 80
