apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: glas-ljudstva
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  # - staging.yaml
images:
- name: glas-ljudstva
  newName: rg.fr-par.scw.cloud/djnd/glas-ljudstva
  newTag: '72d25f8869476c66edd47f7eb3e652358159a1ba'
- name: glas-ljudstva-staging
  newName: rg.fr-par.scw.cloud/djnd/glas-ljudstva-staging
  newTag: '72d25f8869476c66edd47f7eb3e652358159a1ba'
