apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: glas-ljudstva
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  # - staging.yaml
images:
- name: glas-ljudstva
  newName: rg.fr-par.scw.cloud/djnd/glas-ljudstva
  newTag: '5631b74782c52d3b51af9905a1f1ce8180b8e8cd'
- name: glas-ljudstva-staging
  newName: rg.fr-par.scw.cloud/djnd/glas-ljudstva-staging
  newTag: '5631b74782c52d3b51af9905a1f1ce8180b8e8cd'
