volumes:
  pgdata:

services:
  glasljudstva:
    build: ./glasljudstva
    ports:
      - 8000:8000
    environment:
      PYTHONUNBUFFERED: 1
      DJANGO_DEBUG: "yes"
      DJANGO_SETTINGS_MODULE: glasljudstva.k8s_settings
      DJANGO_SECRET_KEY: make-me-secret
      DJANGO_DATABASE_HOST: db
      DJANGO_DATABASE_NAME: glasljudstva
      DJANGO_DATABASE_USERNAME: glasljudstva
      DJANGO_DATABASE_PASSWORD: changeme
      MAUTIC_URL: http://mautic.hostname/api/
      MAUTIC_USER: change_mautic_user
      MAUTIC_PASSWORD: change_mautic_password
    volumes:
      - ./glasljudstva:/app
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: glasljudstva
      POSTGRES_USER: glasljudstva
      POSTGRES_PASSWORD: changeme
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
