:root {
  --gutter: 2rem;

  --font-size-base: 16px;
  --font-sans: "wf-freesans", sans-serif;
  --font-serif: "wf-linlibertine", serif;
  --font-mono: monospace;

  --color-text: hsl(0, 0%, 12%);
  --color-text-light: hsl(0, 0%, 32%);

  --color-bg: hsl(0, 0%, 100%);
  --color-bg-alt: hsl(0, 0%, 95%);
  --color-bg-shade: hsl(0, 0%, 91%);

  --color-accent: hsl(0, 87%, 52%);
  --color-accent-light: hsl(0, 87%, 97%);
  --color-accent-shade: hsl(0, 87%, 92%);
}

@media (max-width: 575.98px) {
  :root {
    --gutter: 1rem;
    --font-size-base: 14px;
  }
}

html {
  box-sizing: border-box;
  font-size: var(--font-size-base);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  font-family: var(--font-sans);
  font-size: 100%;
  color: var(--color-text);
}

/* utils */
.wf,
.wf * {
  outline: 1px solid gold;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper > .content-wrapper {
  flex: 1;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--gutter);
}

.bg-alt {
  background-color: var(--color-bg-alt);
}

.border-accent {
  border: 3px solid var(--color-accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
  line-height: 1.2;
}

p,
ul,
ol {
  margin-block: 0;
  line-height: 1.5;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

a,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
  border-radius: 2px;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  color: var(--color-text);
}

input:disabled,
input[disabled],
textarea:disabled,
textarea[disabled],
button:disabled,
button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  filter: grayscale(1);
}

img.inline-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-top: -0.15em;
  margin-left: 0.5em;
}

/* header */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding-block: 3rem;
}

@media (max-width: 1100px) {
  .page-header {
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media (max-width: 690px) {
  .page-header {
    padding-block: 2rem;
  }
}

.page-header .logo-type {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
}

.page-header .logo-type .logo {
  display: block;
  height: 85px;
}

.page-header .logo-type .type {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 700;
}

@media (max-width: 690px) {
  .page-header .logo-type .logo {
    height: 50px;
  }

  .page-header .logo-type .type {
    font-size: 2rem;
  }
}

.page-header .logo-type .type em {
  font-style: normal;
  color: var(--color-accent);
}

.page-header .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-header .links > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.25em 1em;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .page-header .links > div {
    justify-content: center;
  }
}

.page-header .links > .page-nav {
  font-size: 1.75rem;
}

.page-header .links > .page-nav a {
  text-decoration-thickness: 0.19em;
  text-decoration-color: var(--color-accent);
}

.page-header .links > .page-nav a:hover {
  color: var(--color-accent);
  text-decoration: underline;
  text-decoration-thickness: 0.19em;
  text-decoration-color: var(--color-accent);
}

.page-header .links > .socials {
  font-size: 0.875rem;
}

@media (max-width: 690px) {
  .page-header .links > .page-nav {
    font-size: 1.25rem;
  }
}

/* footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 3rem;
  margin-top: 3rem;
  gap: 1.5rem;
}

@media (max-width: 690px) {
  .page-footer {
    flex-direction: column;
    padding-block: 2rem;
  }
}

.page-footer .logo {
  display: block;
  height: 85px;
}

@media (max-width: 690px) {
  .page-footer .logo {
    height: 50px;
  }
}

.page-footer .author {
  margin-top: 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: right;
  text-wrap: balance;
}

@media (max-width: 690px) {
  .page-footer .author {
    margin-top: 2rem;
    text-align: center;
  }
}

.page-footer .funding {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  max-width: 650px;
  font-size: 0.625rem;
  line-height: 1.5;
  text-align: right;
}

@media (max-width: 450px) {
  .page-footer .funding {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.page-footer .funding img {
  display: block;
  width: auto;
  height: 50px;
}

.page-footer .funding div {
  text-wrap: balance;
}

/* landing */
.landing-grid {
  margin-inline: calc(-1 * var(--gutter));
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--gutter);
  grid-auto-flow: dense;
}

.landing-grid > .main-area {
  grid-column: 1 / span 5;
}

.landing-grid > .side-area {
  grid-column: 6 / span 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.landing-grid > .full-area {
  grid-column: 1 / -1;
}

.landing-grid > .half-area {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 690px) {
  .landing-grid > .main-area,
  .landing-grid > .side-area,
  .landing-grid > .full-area,
  .landing-grid > .half-area {
    grid-column: 1 / -1;
  }
}

.landing-grid .area-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-inline: var(--gutter);
  border-top: 2px solid var(--color-text);
}

.landing-grid .area-title h2 {
  padding-block: 1.5rem;
  font-size: 1.25rem;
}

.landing-grid .area-title a {
  font-size: 1rem;
  font-weight: 700;
}

.area-separator {
  margin-top: 3rem;
}

.area-separator hr {
  margin: 0;
  margin-top: var(--gutter);
  width: 100%;
  height: 0;
  border: none;
  border-top: 2px solid var(--color-text);
}

/* card */
.card.gutter {
  padding: var(--gutter);
}

.card .card-title,
.member-list .members-title {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: 700;
  font-family: var(--font-serif);
}

.member-list .members-title em {
  font-style: normal;
  color: var(--color-accent);
}

.card .card-content {
  font-family: var(--font-serif);
  font-size: 1.25rem;
}

.card .card-content a {
  font-weight: 700;
}

.member-list .card-content {
  font-size: 1rem;
}

/* monitoring link cards */
.monitoring-legend {
  color: var(--color-accent);
  font-size: 1.25rem;
}

.monitoring-link + .monitoring-legend {
  margin-top: 1.25rem;
}

.monitoring-link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 2px solid var(--color-text);
  text-decoration: none;
}

@media (max-width: 1100px) {
  .monitoring-link {
    flex-direction: column;
  }
}

a.monitoring-link:hover {
  background: var(--color-bg-shade);
}

.monitoring-link--red {
  background-color: var(--color-accent-light);
}

a.monitoring-link--red:hover {
  background-color: var(--color-accent-shade);
}

.monitoring-link .monitoring-icon {
  --icon-size: 3.5rem;
  flex-shrink: 0;
  width: var(--icon-size);
}

.monitoring-link .monitoring-icon img {
  display: block;
  width: 100%;
  height: auto;
  max-height: var(--icon-size);
}

.monitoring-link .monitoring-content {
  flex: 1;
  width: 100%;
}

@media (max-width: 1100px) {
  .monitoring-link .monitoring-content {
    text-align: center;
  }
}

.monitoring-link .monitoring-content .monitoring-title {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
}

.monitoring-link .monitoring-content p {
  font-family: var(--font-serif);
  font-size: 1.25rem;
  line-height: 1.2;
}

.support-area .monitoring-link {
  align-items: flex-start;
}

@media (max-width: 1100px) {
  .support-area .monitoring-link {
    align-items: center;
  }
}

.support-area .monitoring-link .monitoring-icon {
  --icon-size: 4.5rem;
}

/* landing news preview */
.landing-news .card + .card {
  margin-top: 1.5rem;
}

.landing-news-item {
  display: flex;
  flex-direction: column;
}

.landing-news-item .publish-date {
  font-size: 0.875rem;
}

.landing-news-item .news-title {
  margin-block: 0.25em 0.75em;
  font-size: 1.5rem;
}

.landing-news-item .read-more,
.landing-campaign-item .read-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  padding: 1em 1.25em 0.75em;
  border: 1px solid var(--color-text);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.landing-news-item .read-more:hover {
  background: var(--color-bg-shade);
}

.landing-campaign-item .read-more:hover {
  background: var(--color-accent-shade);
}

.landing-news-item .read-more img.inline-icon,
.landing-campaign-item .read-more img.inline-icon {
  width: 1.5em;
  height: 1.5em;
}

/* landing campaign item */
.landing-campaigns {
  margin-top: 3rem;
}

.landing-campaigns .card {
  border: 2px solid var(--color-text);
  background-color: var(--color-accent-light);
}

.landing-campaigns .card + .card {
  margin-top: 1.5rem;
}

.landing-campaign-item {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 690px) {
  .landing-campaign-item {
    flex-direction: column;
  }
}

.landing-campaign-item .campaign-image {
  --image-size: 320px;
  flex: 0 0 var(--image-size);
  width: var(--image-size);
  position: relative;
}

.landing-campaign-item .campaign-image img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 690px) {
  .landing-campaign-item .campaign-image {
    --image-size: 160px;
    flex: 0 0 var(--image-size);
    width: auto;
    height: var(--image-size);
  }
}

.landing-campaign-item .campaign-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.landing-campaign-item .campaign-content .campaign-title {
  margin-bottom: 0.75em;
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* form */
.monitoring-link .monitoring-content .subscribe-disclaimer {
  font-size: 0.875rem;
  line-height: 1.2;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: var(--font-sans);
}

.subscribe-form label {
  display: block;
  font-weight: 700;
}

.subscribe-form input {
  display: block;
  width: 100%;
  margin-top: 0.25em;
  padding-block: 0.7em 0.5em;
  padding-inline: 0.5em;
  background: var(--color-bg);
  border: 1px solid var(--color-text);
  font-size: 1.25rem;
  font-weight: 700;
}

.subscribe-form button[type="submit"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.25em 0.75em;
  border: 1px solid var(--color-text);
  background: var(--color-text);
  color: var(--color-bg);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.subscribe-form button[type="submit"]:hover {
  background: var(--color-text-light);
}

.subscribe-form button[type="submit"] img.inline-icon {
  width: 1.5em;
  height: 1.5em;
}

/* rich text */
.rich-text {
  font-family: var(--font-serif);
  font-size: 1rem;
}

.rich-text *:first-child {
  margin-top: 0 !important;
}

.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  margin: 0;
  margin-top: 1em;
  font-family: var(--font-sans);
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 700;
}

.rich-text h1 {
  font-size: 1.75rem;
}

.rich-text h2 {
  font-size: 1.5rem;
}

.rich-text h3 {
  font-size: 1.25rem;
}

.rich-text p,
.rich-text ul,
.rich-text ol,
.rich-text pre,
.rich-text blockquote {
  padding: 0;
  margin: 0;
  margin-top: 1em;
  font-size: 1.25rem;
  line-height: 1.4;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.rich-text ul,
.rich-text ol {
  padding-inline-start: 2em;
}

.rich-text ul {
  list-style-type: disc;
}

.rich-text ul ul {
  list-style-type: circle;
}

.rich-text ul ul ul {
  list-style-type: square;
}

.rich-text ol {
  list-style-type: decimal;
}

.rich-text pre {
  background: var(--color-bg-shade);
  border-radius: 2px;
  overflow: auto;
}

.rich-text pre code {
  display: block;
  padding: 1em;
  background: var(--color-bg-shade);
}

.rich-text blockquote {
  padding: 1em 1.5em;
  background: var(--color-bg-shade);
  border-left: 3px solid var(--color-text);
}

.rich-text em,
.rich-text strong,
.rich-text del,
.rich-text ins,
.rich-text code,
.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: inherit;
}

.rich-text em {
  font-style: italic;
}

.rich-text strong {
  font-weight: 700;
}

.rich-text del {
  text-decoration: line-through;
}

.rich-text ins {
  text-decoration: underline;
}

.rich-text code {
  font-family: var(--font-mono);
  font-size: 0.875rem;
  background: var(--color-bg-shade);
  padding: 0.0625em 0.25em;
  border-radius: 2px;
}

.rich-text a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
}

.rich-text a:hover {
  text-decoration: none;
}

.rich-text hr {
  margin: 1.5em 0;
  height: 0;
  border: none;
  border-top: 1px solid var(--color-text);
}

.rich-text iframe {
  border: 0;
}

.rich-text img,
.rich-text iframe {
  display: block;
  max-width: 100%;
}

.rich-text img.marked-emoji {
  display: inline-block;
  width: 1.125em;
  height: 1.125em;
  vertical-align: text-bottom;
}

.rich-text p.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 1rem;
}

.rich-text p.gallery br {
  display: none;
}

.rich-text p.gallery img {
  display: block;
  width: 100%;
  height: auto;
  /* aspect-ratio: 3 / 2; breaks click zoom */
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  background: var(--color-bg-shade);
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-links {
  display: flex;
}

.pagination .page-links > a,
.pagination .page-links > span {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  margin-left: -1px;
  border: 1px solid var(--color-text);
  font-size: 0.875rem;
  text-align: center;
}

.pagination .page-links > a:hover {
  background: var(--color-bg-alt);
}

.pagination .page-links > .page-current {
  background: var(--color-bg-alt);
  border-color: var(--color-accent);
  font-weight: 700;
  z-index: 1;
}

/* object page */
.object-page,
.error-page {
  max-width: 860px;
  margin-inline: auto;
}

.object-page--wide {
  max-width: none;
}

.object-page .page-title,
.error-page .page-title {
  font-family: var(--font-serif);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-accent);
  text-align: center;
}

.object-page .page-subtitle,
.error-page .page-subtitle {
  font-family: var(--font-serif);
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.object-page .object-list {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  margin-block: var(--gutter);
}

.object-page .object-meta {
  margin-block: var(--gutter);
  font-size: 0.875rem;
  text-align: right;
}

.object-page .object-content {
  margin-block: var(--gutter);
}

/* error page */
.error-page .page-title {
  font-size: 4rem;
}

.error-page .page-subtitle {
  font-size: 2rem;
}
