{% extends 'zahteve/frame.html' %}
{% load static %}

{% block content %}
    <div class="divider divider-left working-group"></div>
    <h1 style="text-align: left; font-size: 36px; line-height: 1.25; color: black; margin-top: 60px;">POGOSTA VPRAŠANJA</h1>
    
    <div class="faq-question">
        <h2>Kaj je Glas ljudstva?</h2>
        <p>
            Iniciativo Glas ljudstva združuje več kot 100 civilnodružbenih organizacij ter več tisoč posameznic in posameznikov z vseh družbenih področij in iz celotne Slovenije. Vzpostavili smo jo jeseni 2021, ko smo se vsi močno strinjali, da na letošnjih volitvah ne smejo biti v ospredju populizem, prazne obljube in politične puhlice, ampak želimo govoriti o vsebini. 
        </p>
        <p>
            Glas ljudstva ni formalna organizacija, ampak neformalna civilnodružbena pobuda in kot taka nima ustanovitelja ali enega vodje.
        </p>
    </div>
    <div class="faq-question">
        <h2>Zakaj Glas ljudstva?</h2>
        <p>
            V luči supervolilnega leta 2022 želi Glas ljudstva nasloviti dva ključna problema. Prvi je ta, da je v Sloveniji volilna udeležba iz volitev v volitve nižja. Drugi pa, da je v predvolilnih razpravah vedno manj vsebine, ki je pomembna za razvoj naše družbe in za vse prebivalke in prebivalce Slovenije. Obenem smo ljudje vedno bolj izločeni iz oblikovanja političnih odločitev.
        </p>
        <p>
            Ker je demokracija resnično demokratična le, če pri odločanju sodeluje kar največ ljudi, želi Glas ljudstva letos doseči rekordno volilno udeležbo in v središče predvolilnega časa umestiti vsebinsko razpravo o demokratični, zeleni in pravični družbi. Politiko želimo vrniti nazaj v roke ljudem in s tem krepiti demokracijo.
        </p>
    </div>
    <div class="faq-question">
        <h2>Kdo vse je del iniciative Glas ljudstva?</h2>
        <p>
            Iniciativa Glas ljudstva združuje več kot 100 civilnodružbenih organizacij ter več tisoč posameznic in posameznikov z vseh družbenih področij in iz celotne Slovenije. Gre za strokovne organizacije s področij demokracije, človekovih pravic, varstva okolja, sociale, dela, stanovanjske politike, medijev, kulture, infrastrukture, globalne pravičnosti, zdravstva, izobraževanja, gospodarstva in drugih za našo prihodnost ključnih področij.
        </p>
        <p>
            Prvič v zgodovini se je pri nas tako veliko število tako zelo raznolikih organizacij ter posameznikov in posameznic povezalo ter vzpostavilo aktivno sodelovanje in zavezništvo. Vse organizacije so navedene na spletnem mestu <a href="/" target="_blank">www.glas-ljudstva.si</a>. 
        </p>
    </div>
    <div class="faq-question">
        <h2>Kaj počne Glas ljudstva?</h2>
        <p>
            V sklopu iniciative smo najprej oblikovali <b>138 zahtev, ki so razdeljene v 11 različnih vsebinskih sklopov</b>, in jih predali vsem političnim strankam, ki bodo nastopile na letošnjih državnozborskih volitvah. Stranke, ki so se opredelile do vseh zahtev, so se s tem tudi zavezale k izvajanju izbranih ukrepov. Več <a href="/" target="_blank">tukaj</a>.
        </p>
        <p>
            Na podlagi zahtev je nato nastal <b>Volitvomat</b> – orodje, ki volivkam in volivcem omogoča lažjo in bolj informirano odločitev, komu podeliti svoj glas. Več <a href="https://volitvomat.si/" target="_blank">tukaj</a>.
        </p>
        <p>
            Za spodbujanje volilne udeležbe Glas ljudstva v različnih krajih po celi Sloveniji izvaja <b>potujoči festival demokracije, poimenovan “Mi bomo odločali: Gremo volit”</b>. Obiskali bomo Savinjsko, Posavsko, Gorenjsko, Obalno-kraško, Primorsko-notranjsko, Podravsko, Zasavsko, Osrednjeslovensko in statistično regijo Jugovzhodna Slovenija. S prebivalkami in prebivalci razpravljamo o pomenu demokracije, zelene in pravične prihodnosti ter opozarjamo na pomen volilne udeležbe. Predstavljamo 138 zahtev iniciative Glas ljudstva, zaveze strank in Volitvomat. Seveda pa ne manjka veselega vzdušja, glasbe, hrane in iger demokracije. Več <a href="https://www.facebook.com/events/560188295207608" target="_blank">tukaj</a>.
        </p>
        <p>
            V petek, 15. aprila, ob 18h na Trgu republike organiziramo <b>veliko javno predvolilno soočenje političnih strank z ljudstvom</b>. Eden izmed glavnih ciljev iniciative Glas ljudstva je namreč vračanje politike ljudem - politika in politični predstavniki ter predstavnice so izvoljeni zato, da v Državnem zboru zastopajo interese in izvršujejo voljo ljudstva. Zato v iniciativi Glas ljudstva verjamemo, da je še posebej v predvolilnem času izrednega pomena, da se bodoči politični predstavniki in predstavnice ljudstvu lahko neposredno predstavijo v živem, odprtem in javnem prostoru ter obenem, da lahko tudi sami volivci in volivke postavijo vprašanja, ki so zanje pomembna. Več <a href="https://www.facebook.com/events/731014614570347" target="_blank">tukaj</a>.
        </p>
    </div>
    <div class="faq-question">
        <h2>Kako so nastajale zahteve?</h2>
        <p>
            Zahteve so nastale skozi več mesecev intenzivnega kolektivnega sodelovanja, preverjanja in usklajevanja. Oblikovane so bile od spodaj navzgor – preko strokovnjakov, programskih usmeritev organizacij in preko protestov ter ljudskih tribun. Novembra 2021 smo predstavili 96 osnovnih predlogov in odprli dvomesečno javno razpravo, preko katere so ljudje lahko podajali svoje predloge in komentarje. Dodatno smo organizirali 4 tematske ljudske tribune, na katerih smo nabirali mnenja ljudi iz cele Slovenije.
        </p>
        <p>
            <b>Oblikovali smo 138 zahtev, ki so razdeljene med 11 tematskih področij</b>. Od 138 smo 30 zahtev prepoznali kot prednostne, torej takšne, ki jih je nujno in možno uresničiti do konca leta 2022. Gre za zahteve, ki naslavljajo ključne izzive za prihodnost in so obenem zelo pomembne za volivce in volivke pri odločanju na prihajajočih volitvah. 
        </p>
        <p>
            Na predstavitev smo povabili vse stranke, ki so vpisane v register strank in imajo javno dostopne kontaktne podatke. Prav tako smo povabili stranke, ki so že imele ustanovne kongrese ter so svojo kandidaturo na volitvah napovedale preko medijev, niso pa še v registru strank. Tako <b>smo skupno k sodelovanju povabili več kot 60 političnih strank, med njimi pa so tudi vse stranke, ki so trenutno v parlamentu</b>. Našemu vabilu se je odzvalo veliko strank in s tem izkazalo pripravljenost na sodelovanje s civilno družbo. Prisotne so bile naslednje stranke (po abecednem vrstnem redu): Društvo Bodi sprememba, Levica, Liberalni demokrati, Lista Marjana Šarca, Piratska stranka Slovenije, Socialni demokrati, Stranka Alenke Bratušek, Vesna, Z.dej.
        </p>
        <p>
            Z zahtevami smo politične stranke pozvali k odgovornejšemu delovanju ter izboljšanju družbene, okoljske, politične in ekonomske situacije v državi. Z opredelitvijo do zahtev  se stranke – v primeru, da bodo sestavljale prihodnjo vlado – zavezujejo k izvajanju izbranih ukrepov, kar bo iniciativa Glas ljudstva po volitvah tudi budno spremljala.
        </p>
    </div>
    <div class="faq-question">
        <h2>Kako je nastajal Volitvomat?</h2>
        <p>
            Potem ko smo v iniciativi Glas ljudstva oblikovali 138 zahtev in so se politične stranke do njih opredelile, smo na  podlagi odgovorov postavili Volitvomat – orodje, ki volivkam in volivcem omogoča lažje ter bolj informirano in bolj premišljeno odločitev, komu na volitvah dati svoj glas.
        </p>
        <p>
            Pri Volitvomatu ne gre za stališča z desnega ali levega političnega pola, ampak za opredelitev do konkretnih zahtev civilne družbe. Za delovanje orodja je pomembno ujemanje opredelitev strank in uporabnikov Volitvomata.
        </p>
        <p>
            Ker smo želeli v orodje vključiti obvladljivo količino vprašanj, ki omogočajo rešitev Volitvomata v petih minutah, izbrana vprašanja ne vključujejo trditev iz vseh področij, temveč samo tista, kjer je bilo razlikovanje stališč med strankami največje. Le na ta način lahko stališča do trditev v Volitvomatu igrajo razlikovalno vlogo pri primerjanju stališč strank in uporabnikov. 
        </p>
        <p>
            Odziv ob lansiranju Volitvomata je bil čudovit in vse kaže, kot da bomo lahko orodje označili za velik uspeh. Samo v prvih dveh dneh je Volitvomat namreč uporabilo več kot 10.000 ljudi.
        </p>
    </div>
    <div class="faq-question">
        <h2>Zakaj na spletnem mestu Glas ljudstva in v orodju volitvomat ni vseh političnih strank?</h2>
        <p>
            Iniciativa Glas ljudstva je večkrat pisno in telefonsko povabila k sodelovanju vse registrirane stranke, ki kandidirajo na državnozborskih volitvah. Nekatere stranke se kljub več pozivom niso odzvale.
        </p>
        <p>
            Mislimo, da je nesodelovanje določenih strank samo po sebi močno sporočilo. Volitvomat zastavlja ključna vprašanja današnje družbe, ki so pomembna ljudem. In če stranke tega ne prepoznajo, če ne želijo biti transparente glede svojih stališč ali pa jih enostavno ne zanimajo interesi civilne družbe, je to resno sporočilo vsem, ki se bodo odločali, koga (ne) podpreti na volitvah.
        </p>
        <p>
            Prav stranke, ki se niso odzvale na našo pobudo, na vso moč poskušajo <a href="https://www.mladina.si/215279/janez-jansa-se-boji-visoke-udelezbe-na-volitvah/?fbclid=IwAR360RC6Gfeblv7Iu9KDRzAbnBKNv35QyM-cwjuCJbaZIEwnLJmlUyC0BGk" target="_blank">diskreditirati</a> aktivnosti civilne družbe, širijo neresnice ter zavajajo javnost glede namenov in delovanja iniciative.
        </p>
    </div>
    <div class="faq-question">
        <h2>Ali Glas ljudstva predlaga oziroma priporoča katero stranko kot izbiro volivkam in volivcem?</h2>
        <p>
            Glas ljudstva ne podpira nobene specifične politične stranke. Nasprotno – prav vse stranke so bile povabljene k sodelovanju in vključitvi v Volitvomat, ki je nevtralno orodje. Namen aktivnosti iniciative Glas ljudstva je izključno spodbuditi ljudi, naj se udeležijo volitev v čimvečjem številu in tam glasujejo informirano ter na podlagi vsebine. 
        </p>
    </div>
    <div class="faq-question">
        <h2>Kako se Glas ljudstva financira?</h2>
        <p>
            Vse aktivnosti iniciative Glas ljudstva se financirajo zgolj s prostovoljnimi prispevki, projektnimi sredstvi sodelujočih organizacij in še posebej z izjemno količino neplačanega prostovoljnega dela vseh udeležencev in koordinatorjev aktivnosti. Edino plačilo, ki si ga sodelujoči obetamo, je možnost bolj demokratične, pravične, vključujoče, solidarne in zelene prihodnosti v Sloveniji.
        </p>
        <p>
            Poudariti je treba, da kljub zlonamernemu natolcevanju nekaterih političnih akterjev, delovanja iniciative Glas ljudstva ne financira nobena stranka in tudi Glas ljudstva ne zastopa nobene stranke. Vsekakor pa s svojimi zahtevami naslavljamo vse stranke v upanju na konstruktiven dialog med strankarsko politiko in nestrankarsko aktivno civilno družbo.
        </p>
    </div>
    <div class="faq-question">
        <h2>Kaj je razlika med iniciativo Glas ljudstva in politično stranko Glas ljudstva?</h2>
        <p>
            Stranka Glas ljudstva in naša iniciativa Glas ljudstva nista povezani, saj gre za dve različni entiteti, ki jima je skupno le ime. 
        </p>
        <p>
            Iniciativa  Glas ljudstva (ustanovljena jeseni 2021) je neformalna mreža organizacij civilne družbe in aktivnih posameznikov ter posameznic, ki se zavzema za večjo politično odgovornost, množično udeležbo na prihajajočih volitvah ter transparentno vsebinsko opredelitev politikov in političnih strank.
        </p>
        <p>
            Politična stranka Glas ljudstva pa je bila ustanovljena leta 2014 in na letošnjih državnozborskih volitvah ne kandidira.
        </p>
        <p>
            Civilnodružbena pobuda Glas ljudstva se ne bo preobrazila v politično stranko. Z dejavnostmi v okviru iniciative sodelujoče civilnodružbene organizacije dosledno sledijo svojemu poslanstvu varovanja človekovih in delavskih pravic, vladavine prava, demokracije, marginaliziranih skupin, okolja in narave ter ostalih vključenih področij.
        </p>
    </div>
    <div class="faq-question">
        <h2>Ali Glas ljudstva izvaja volilno kampanjo?</h2>
        <p>Ne.</p>
        <p>Na ministrstvu za javno upravo so za <a href="https://www.ostro.si/si/razkrinkavanje/objave/iniciativa-glas-ljudstva-ne-vodi-uradne-volilne-kampanje" target="_blank">cazkrinkavanje.si</a> pojasnili, da po <a href="http://www.pisrs.si/Pis.web/pregledPredpisa?id=ZAKO4749" target="_blank">zakonu o volilni in referendumski kampanji (ZVRK)</a> delovanje, katerega namen je informiranje državljanov in spodbujanje njihove volilne udeležbe, ne pomeni izvajanja volilne kampanje, za katero bi veljal ta zakon. Tudi odvetnica Ula Tomaduz iz odvetniške družbe Pirc Musar & Lemut Strle je ocenila, da delovanje Glasu ljudstva ni volilna kampanja. Iniciativa namreč po določbah zakona o volilni kampanji ne more biti organizator kampanje. Poleg tega je glavni namen civilne iniciative po njenem mnenju splošno spodbujanje k udeležbi na volitvah in ne oglaševanje točno določene politične opcije.</p>
    </div>
    <div class="faq-question">
        <h2>Kako se lahko pridružim iniciativi Glas ljudstva? Kako lahko prispevam? Sprejemate tudi finančne prispevke? Prostovoljce?</h2>
        <p>
            K sodelovanju z veseljem vabimo vse, ki bi radi pomagali. Javite se na e-naslov <a href="mailto:mojca@glas-ljudstva.si">mojca@glas-ljudstva.si</a>. 
        </p>
    </div>

    <div class="divider divider-left"></div>
    
 
{% endblock %}