{% extends 'zahteve/frame.html' %}
{% load static %}

{% block content %}
    <div class="divider divider-left working-group"></div>
    <h1 style="text-align: left; font-size: 36px; line-height: 1.25; color: black; margin-top: 60px;">POGOSTA VPRAŠANJA</h1>
    
    <div class="faq-question">
        <h2>Kaj je Glas ljudstva?</h2>
        <p>
            Iniciativo Glas ljudstva združuje več kot 100 civilnodružbenih organizacij ter več tisoč posameznic in posameznikov z vseh družbenih področij in iz celotne Slovenije. Vzpostavili  smo jo jeseni 2021, ko smo se vsi močno strinjali, da na letošnjih volitvah ne smejo biti v ospredju populizem, prazne obljube in politične puhlice, ampak želimo govoriti o vsebini. 
        </p>
        <p>
            Glas ljudstva ni formalna organizacija, ampak neformalna civilnodružbena pobuda in kot taka nima ustanovitelja in tudi nima enega vodje. 
        </p>
    </div>
    
    <div class="faq-question">
        <h2>Zakaj Glas ljudstva?</h2>
        <p>
            V luči supervolilnega leta 2022  želeli Glas ljudstva nasloviti dva ključna problema. Prvi je ta, da je v Sloveniji volilna udeležba iz volitev v volitve nižja. Drugi pa, da je v predvolilnih razpravah vedno manj vsebine, ki je pomembna za razvoj naše družbe in za vse prebivalke in prebivalce Slovenije. Obenem smo ljudje vedno bolj izločeni iz oblikovanja političnih odločitev. 
        </p>
        <p>
            Ker je demokracija resnično demokratična le, če pri odločanju sodeluje kar največ ljudi, želi Glas ljudstva letos doseči rekordno volilno udeležbo in v središče predvolilnega časa umestiti vsebinsko razpravo o demokratični, zeleni in pravični družbi. Politiko želimo vrniti nazaj v roke ljudem in s tem krepiti demokracijo.
        </p>
    </div>

    <div class="faq-question">
        <h2>Kdo vse je del iniciative Glas ljudstva?</h2>
        <p>
            Iniciativa Glas ljudstva združuje več kot 100 civilnodružbenih organizacij ter več tisoč posameznic in posameznikov z vseh družbenih področij in iz celotne Slovenije. Gre za strokovne organizacije s področij demokracije, človekovih pravic, varstva okolja, sociale, dela, stanovanjske politike, medijev, kulture, infrastrukture, globalne pravičnosti, zdravstva, izobraževanja, gospodarstva in drugih, za našo prihodnost ključnih področij. 
        </p>
        <p>
            Prvič v zgodovini se je tako veliko in tako zelo raznolikih organizacij ter posameznikov_c povezalo, vzpostavilo aktivno sodelovanje in zavezništvo. Vse organizacije so navedene na spletni strani <a href="www.glas-ljudstva.si">www.glas-ljudstva.si</a>. 
        </p>
        
    </div>
    <div class="divider divider-left"></div>
    
 
{% endblock %}