{% extends 'zahteve/frame.html' %}
{% load static %}

{% block content %}
    <div class="divider divider-left working-group"></div>
    <h1 style="text-align: left; font-size: 36px; line-height: 1.25; color: black; margin-top: 60px;">POGOSTA VPRAŠANJA</h1>
    
    <div class="faq-question">
        <h2>Kaj je Glas ljudstva?</h2>
        <p>
            Iniciativa Glas ljudstva združuje več kot 100 civilnodružbenih organizacij ter več tisoč posameznic_kov z vseh družbenih področij iz celotne Slovenije. Gre za strokovne organizacije s področij varstva demokracije, človekovih pravic, okolja, sociale, dela, stanovanjske politike, medijev, kulture, infrastrukture, globalne pravičnosti, zdravstva, izobraževanja, gospodarstva in drugih, za našo prihodnost ključnih področij. Seznam vseh članic je dostopen <a href="https://glas-ljudstva.si/" target="_blank">tukaj</a>. 
        </p>
        <p>
            Druži nas cilj povečanja politične odgovornosti nosilk_cev oblasti, kar je osnova za krepitev demokracije in politik, usmerjenih v dolgoročno dobrobit ljudi in okolja. Osrednji mehanizem, ki ga pri tem uporabljamo, je spremljanje uresničevanja strokovnih zahtev iniciative Glas ljudstva na enajstih ključnih področjih ter priprava akcij za informiranje, opolnomočenje in mobilizacijo ljudi. V inciativi smo uskladili 138 strokovnih zahtev – vse tri stranke, ki so po državnozborskih volitvah leta 2022 sestavile vlado, so se skupno zavezale k uresničitvi 122 zahtev. Seznam vseh je dostopen <a href="https://drive.google.com/file/d/1KsV7T2rDazcRKhnTEQoE8QcDzoGzO0vz/view" target="_blank">tukaj</a>.
        </p>
        <p>
            Glas ljudstva želi politiko približati ljudem in s tem krepiti demokracijo. Demokracija je resnično demokratična le, če pri odločanju o javnih zadevah sodeluje kar največ ljudi, zato je eden od ciljev iniciative Glas ljudstva spodbujati volilno udeležbo in vsebinsko razpravo o demokratični, zeleni ter pravični družbi postaviti v ospredje razprav pred volitvami in po njih. Zato redno pripravljamo različna zborovanja, posvete, zagovorniške akcije, kampanje, spletna orodja itd.
        </p>
        <p>
            Glas ljudstva <strong>NI</strong> formalna organizacija, pač pa neformalna civilnodružbena pobuda in kot taka nima ustanovitelja_ice ali ene_ga vodje. Prav tako Glas ljudstva <strong>NI</strong> politična stranka. Glavni namen civilne iniciative je namreč spodbujanje k aktivni in informirani udeležbi na volitvah in v drugih demokratičnih procesih. Pri tem Glas ljudstva zavzema kritično držo do vseh političnih akterjev. 
        </p>
    </div>
    <div class="faq-question">
        <h2>Zakaj je nastala iniciativa Glas ljudstva?</h2>
        <p>
            Iniciativa Glas ljudstva je nastala z namenom reševanja dveh ključnih problemov: vse nižje volilne udeležbe in pomanjkanja vsebine v političnih razpravah. To zavira razvoj družbe in neposredno zadeva celotno prebivalstvo Republike Slovenije, saj smo ljudje vse bolj izločeni iz oblikovanja političnih odločitev in vse manj informirani o dejanskih načrtih političnih akterjev.
        </p>
        <p>
            To se je še posebej izrazito pokazalo leta 2021, in sicer v kontekstu največjega upada demokratičnih standardov v zgodovini samostojne Slovenije, saj je takratna vlada sprejemala očitno avtoritarne odločitve. Odziv civilne družbe je bilo široko in vsebinsko povezovanje različnih akterk_jev, iz tega sodelovanja pa je nastala tudi iniciativa Glas ljudstva.
        </p>
        <p>
            Prvič v zgodovini Slovenije se je povezalo tako veliko raznolikih organizacij ter posameznic_kov in vzpostavilo aktivno sodelovanje oziroma zavezništvo. V supervolilnem letu 2022 (letu državnozborskih, predsedniških in lokalnih volitev ter treh referendumov) smo za doseganje ciljev izvedli vrsto aktivnosti:
        </p>
        <ul>
            <li>ankete, javne tribune, zbiranje na protestnih shodih in druge aktivnosti, s pomočjo katerih smo oblikovali 138 zahtev civilne družbe;</li>
            <li>potujoči festival demokracije Mi bomo odločali: Gremo volit! ter veliki koncertni shod Gremo volit!;</li>
            <li>spletna orodja Volitvomat, ki volivcem_kam olajšajo informirano odločitev, smo pripravili za državnozborske, predsedniške in tudi lokalne volitve;</li>
            <li>javni predvolilni soočenji političnih kandidatk_ov z ljudstvom pred državnozborskimi in predsedniškimi volitvami;</li>
            <li>koncertni shod pred referendumskim odločanjem o noveli zakona o RTV Slovenija ZA RTV! ter peticijo proti dokončni razgradnji javne radiotelevizije RTV SLO.</li>
        </ul>
    </div>
    <div class="faq-question">
        <h2>Na katerih področjih deluje iniciativa Glas ljudstva? </h2>
        <p>
            Dejavnosti iniciative Glas ljudstva zajemajo monitoring, v okviru katerega spremljamo uresničevanje predvolilnih zavez političnih akterk_jev, ter zagovorništvo in dialog, s čimer vplivamo na politične odločevalce_ke ter oblikovanje javnih politik. Vsebinsko Glas ljudstva pokriva enajst ključnih področij, pomembnih za prihodnost Slovenije:
        </p>
        <ol>
            <li>Demokracija in reforma političnega sistema</li>
            <li>Vladavina prava in človekove pravice</li>
            <li>Pravični podnebni prehod in zaščita narave</li>
            <li>Dostojno delo in socialne pravice</li>
            <li>Kultura in svoboda medijev</li>
            <li>Dostopno javno zdravstvo</li>
            <li>Razvoj izobraževanja in znanosti</li>
            <li>Trajnostno gospodarstvo in javne storitve</li>
            <li>Dostopna stanovanja</li>
            <li>Zelena infrastruktura</li>
            <li>Globalna pravičnost</li>
        </ol>
        <p>
            Na vseh teh področjih je iniciativa Glas ljudstva pripravila nabor <a href="https://drive.google.com/file/d/1KsV7T2rDazcRKhnTEQoE8QcDzoGzO0vz/view" target="_blank">138 zahtev</a>. Zahteve so bile oblikovane od spodaj navzgor, s pomočjo programskih usmeritev organizacij, združenih v iniciativi, ter v sodelovanju s številnimi strokovnjaki_njami v različnih delovnih skupinah, na štirih ljudskih tribunah ter na protestih. Proces oblikovanja zahtev se je začel novembra 2021, ko smo predstavili 96 osnovnih predlogov in odprli dvomesečno javno razpravo, v kateri so lahko ljudje iz vse Slovenije podajali svoje predloge in komentarje.</a>. 
        </p>
        <p>
            V tem postopku se je izoblikovalo 138 zahtev, ki obravnavajo ključne izzive prihodnosti in so zelo pomembne za informirane odločitve volivk_cev.
        </p>
        <h3>Monitoring uresničevanja predvolilnih zavez</h3>
        <p>
            Vse politične stranke, ki so kandidirale na državnozborskih volitvah 2022, smo pozvali, naj se do 138 zahtev iniciative Glas ljudstva opredelijo. Vse tri stranke, ki so po volitvah sestavile vlado, so se skupno zavezale k uresničitvi kar 122 zahtev. Iniciativa Glas ljudstva bo redno in do konca mandata vlade spremljala uresničevanje vseh 122 zavez.
        </p>
        <h3>Sodelovanje v različnih strokovnih skupinah, zagovorništvo in kampanje</h3>
        <p>Na oblikovanje in izvajanje politik, ki so skladne s 138 zahtevami iniciative Glas ljudstva, vplivamo tudi s sodelovanjem v različnih državnih odborih in posvetovalnih telesih, kjer zagovarjamo uresničevanje zahtev, ter z izvajanjem kampanj na posebej perečih področjih.</p>
        <p>Nekaj primerov:</p>
        <ul>
            <li>podpora kampanji za referendumsko potrditev novele o javni radioteleviziji RTV SLO, v kateri je formalno sodelovalo več organizacij iniciative Glas ljudstva, ter Peticija za nepristransko RTV Slovenija “Odstopite!”;</li>
            <li>kampanja Ustavimo rušenje javnega zdravstva za brezplačen in pravičen zdravstveni sistem, v okviru katere smo pripravil tudi peticijo in prvo stavko pacientk_ov v zgodovini Slovenije;</li>
            <li>kampanja Ptički brez gnezda (skupaj s pobudo Kje bomo pa jutri spali?) na področju stanovanjske problematike.</li>
        </ul>
    </div>
    <div class="faq-question">
        <h2>Kako se financira iniciativa Glas ljudstva?</h2>
        <p>
            Vse aktivnosti iniciative Glas ljudstva se financirajo zgolj s prostovoljnimi prispevki, projektnimi sredstvi sodelujočih organizacij in predvsem z izjemno količino prostovoljnega dela.
        </p>
        <p>
            Edino plačilo, ki si ga obetamo, je bolj demokratična, pravična, vključujoča, solidarna in zelena prihodnost. K sodelovanju vabimo vse, ki bi ta prizadevanja radi podprli. Pišite nam na <a href="mailto:info@glas-ljudstva.si">info@glas-ljudstva.si</a>.
        </p>
    </div>
    <div class="faq-question">
        <h2>Kako poteka delo in odločanje znotraj iniciative Glas ljudstva?</h2>
        <p>
            Vse organizacije inposamezniki_ce, ki so del Glasu ljudstva, se lahko kadar koli aktivneje vključijo v delovanje iniciative. Redno delo poteka v <strong>več skupinah</strong>.
        </p>
        <p>
            Osnovna skupina je namenjena operativnim zadevam in pregledu delovanja celotne iniciative. Zbiramo se na <strong>rednih tedenskih sestankih</strong>, kjer s skupnimi močmi ocenjujemo dosedanje in koordiniramo prihajajoče aktivnosti. Vabljeni_e in dobrodošli_e so vsi_e člani_ce iniciative Glas ljudstva, saj več sodelujočih pomeni tudi bolj transparentno in vključujoče soodločanje o smereh in načinih delovanja. 
        </p>
        <p>
            V sklopu iniciative se glede na aktualne potrebe oblikujejo tudi <strong>posebne delovne skupine</strong>, ki se ukvarjajo s posameznimi področji, denimo z javnim zdravstvom (skupina za zdravstvo) in s spremljanjem političnih strank na poti uresničevanja predvolilnih zavez (skupina za monitoring). 
        </p>
        <p>
            V preteklosti so delovale tudi druge skupine, kot so na primer skupina za predsedniške volitve, skupina za lokalne volitve …
        </p>
    </div>
    <div class="faq-question">
        <h2>Kaj pomeni ime Glas ljudstva?</h2>
        <p>
            Iniciativa Glas ljudstva ne predstavlja celotnega ljudstva in ne govori v njegovem imenu. Ime Glas ljudstva je nastalo iz prizadevanj, da se ljudstvu vrne njegov glas – če se politika loči od sfere javnosti, bo ljudstvo ostalo brez moči in brez glasu. V takšni družbi se političnim akterjem_kam odpira možnost popolne samovolje brez odgovornosti.
        </p>
        <p>
            Ker v takšni družbi ne želimo živeti, vse prebivalce_ke Slovenije vabimo, da izrazijo svoj glas in prispevajo k še močnejšemu glasu ljudstva.
        </p>
    </div>

    <div class="divider divider-left"></div>
    
 
{% endblock %}