{% extends "./base.html" %}
{% load static %}

{% block content %}

<div class="party-header">
    <img src="{{ party.image_url }}" alt="{{ party.party_name }}" onerror="nofind()" />
    <div>
        <h1>{{ party.party_name }}</h1>
        <p><a href="{{ party.url }}" target="_blank">{{ party.url }}</a></p>
    </div>
</div>

<div class="divider divider-left"></div>

{% for wg in work_groups %}
<div class="working-group-header">
    <img class="logo" src="{% static 'svg/logo-glasljudstva.svg' %}">
    <a href="/{{ wg.election.slug }}/skupina/{{wg.id}}">
        <h1>{{ wg.name }}</h1>
    </a>
</div>
<div class="masonry">
    {% for demand in wg.demands %}
    <a href="/{{ party.election.slug }}/zahteve/{{demand.id}}" class="masonry-card party-masonry-card {% if party.id in demand.partys_which_agree_in_ids %}agrees-yes {% else %}agrees-no{% endif %}">
        <div class="masonry-card-body">
            <h1>{% if demand.list_title %}{{ demand.list_title }}{% else %}{{ demand.title }}{% endif %}</h1>
            {% if party.id in demand.partys_which_agree_in_ids %}
            <img src="{% static 'svg/podpira.svg' %}">
            {% else %}
            <img src="{% static 'svg/ne-podpira.svg' %}">
            {% endif %}
        </div>
    </a>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}
