{% extends 'zahteve/frame.html' %}
{% load static %}
{% load comments martortags %}

{% block content %}
    <div class="divider divider-left working-group"></div>
    <div class="demand-header">
        <h1>{% if demand.list_title %}{{ demand.list_title }}{% else %}{{ demand.title }}{% endif %}</h1>
    </div>
    <div class="row">
        <div class="col">
            {% if demand.description %}
            <div class="demand-description rich-text">
                {{ demand.description|safe_markdown }}
            </div>
            {% endif %}
            {% if demand.priority_demand %}
            <p class="demand-description"><strong>Ta zahteva mora biti izpolnjena v roku enega leta od nastopa mandata.</strong></p>
            {% endif %}
        </div>
    </div>
    <div class="grey-box-text demand-grey-box">
        <span>
            Zahtevo ureja delovna skupina: <a href="/{{ demand.election.slug }}/skupina/{{demand.workgroup.id}}">{{ demand.workgroup.name }}</a>
        </span>
    </div>
    <div class="divider divider-left"></div>

    {% if demand.partys_which_agree %}
    <div class="support-header">
        <img src="{% static 'svg/podpira.svg' %}">
        <h2>SE STRINJAJO:</h2>
    </div>
    <div class="demand-agree">
        {% for party in demand.partys_which_agree %}
            <div class="party">
                <a href="/{{ party.election.slug }}/zahteve/stranka/{{ party.id }}">
                    <img src="{{ party.image_url }}" alt="{{ party.party_name }}" onerror="nofind()" />
                </a>
                <span class="party-name">
                    <a href="/{{ party.election.slug }}/zahteve/stranka/{{ party.id }}">
                        {{ party.party_name }}
                    </a>
                </span>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if demand.partys_which_dont_agree %}
        <div class="support-header">
            <img src="{% static 'svg/ne-podpira.svg' %}">
            <h2>SE NE STRINJAJO:</h2>
        </div>
        {% for answer in demand.answers_which_dont_agree %}
        <div class="demand-dont-agree">
            <div class="party">
                <a href="/{{ answer.party.election.slug }}/zahteve/stranka/{{ answer.party.id }}">
                    <img src="{{ answer.party.image_url }}" alt="{{ answer.party.party_name }}" onerror="nofind()" />
                </a>
                <span class="party-name">
                    <a href="/{{ answer.party.election.slug }}/zahteve/stranka/{{ answer.party.id }}">{{ answer.party.party_name }}</a>
                </span>
            </div>
            {% if answer.comment %}
            <div class="party-comment">
                {{ answer.comment }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}

    <div class="divider divider-left"></div>

    <!-- komentarji so skriti -->
    <!-- <div class="comments">
        {% get_comment_list for demand as comments %}
        {% for comment in comments %}
        <div class="row comment">
            <div class="col">
                <p class="timestamp">Oddan {{ comment.submit_date|date:'d. m. Y'}} ob {{ comment.submit_date|date:'H:i'}}</p>
                <p>{{ comment.comment }}</p>
            </div>
        </div>
        {% endfor %}
    </div> -->
    <!-- <div class="row">
        <div class="col">
            {% if user.is_authenticated %}
                {% get_comment_form for demand as form %}
                <p><i>Komentarji naj bodo konstruktivni in prijazni, saj nam bodo lahko tako pomagali pri pripravi jasnih zahtev in pričakovanj, ki jih bomo predstavili strankam. Razpravo bomo moderirali, zato neprimerni zapisi ne bodo ugledali luči sveta.</i></p>
                <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                {{ form.comment }}
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="submit" value="Komentiraj" id="id_submit" />
                </form>
            {% else %}
                <h4>Za komentiranje se moraš prijaviti ali registrirati.</h4>
                <p><i>Komentarji naj bodo konstruktivni in prijazni, saj nam bodo lahko tako pomagali pri pripravi jasnih zahtev in pričakovanj, ki jih bomo predstavili strankam. Razpravo bomo moderirali, zato neprimerni zapisi ne bodo ugledali luči sveta.</i></p>
                <form method="POST" action="/registracija/" class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Registriraj ali prijavi se</button>
                </form>
            {% endif %}
        </div>
    </div> -->

{% endblock %}
