{% extends 'zahteve/frame.html' %}
{% load static %}
{% load comments %}

{% block content %}
    <div class="divider divider-left working-group"></div>
    <div class="demand-header">
        <h1>
            {{ demand.title }}
        </h1>
    </div>
    <div class="row">
        <div class="col">
            <p class="demand-description">
                {{ demand.description }}
            </p>
        </div>
    </div>
    <div class="grey-box-text demand-grey-box">
        <span>
            Zahtevo ureja delovna skupina: <a href="/{{demand.workgroup.id}}">{{ demand.workgroup.name }}</a>
        </span>
    </div>
    <div class="divider divider-left"></div>
    <!-- komentarji so skriti -->
    <!-- <div class="comments">
        {% get_comment_list for demand as comments %}
        {% for comment in comments %}
        <div class="row comment">
            <div class="col">
                <p class="timestamp">Oddan {{ comment.submit_date|date:'d. m. Y'}} ob {{ comment.submit_date|date:'H:i'}}</p>
                <p>{{ comment.comment }}</p>
            </div>
        </div>
        {% endfor %}
    </div> -->
    <!-- <div class="row">
        <div class="col">
            {% if user.is_authenticated %}
                {% get_comment_form for demand as form %}
                <p><i>Komentarji naj bodo konstruktivni in prijazni, saj nam bodo lahko tako pomagali pri pripravi jasnih zahtev in pričakovanj, ki jih bomo predstavili strankam. Razpravo bomo moderirali, zato neprimerni zapisi ne bodo ugledali luči sveta.</i></p>
                <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                {{ form.comment }}
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="submit" value="Komentiraj" id="id_submit" />
                </form>
            {% else %}
                <h4>Za komentiranje se moraš prijaviti ali registrirati.</h4>
                <p><i>Komentarji naj bodo konstruktivni in prijazni, saj nam bodo lahko tako pomagali pri pripravi jasnih zahtev in pričakovanj, ki jih bomo predstavili strankam. Razpravo bomo moderirali, zato neprimerni zapisi ne bodo ugledali luči sveta.</i></p>
                <form method="POST" action="/registracija/" class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Registriraj ali prijavi se</button>
                </form>
            {% endif %}
        </div>
    </div> -->
{% endblock %}
