{% load static %}

<div class="bg-alt">
  <div class="container">
    <div class="container">
      <footer class="page-footer">
        <img
          class="logo"
          src="{% static 'svg/logo-glasljudstva-black.svg' %}"
        />
        <div class="right">
          <div class="funding">
            <div>
              Financirano s strani Evropske unije. Izražena stališča in mnenja
              so zgolj stališča in mnenja avtorja(-ev) in ni nujno, da odražajo
              stališča in mnenja Evropske unije ali Evropske izvajalske agencije
              za izobraževanje in kulturo (EACEA). Zanje ne moreta biti
              odgovorna niti Evropska unija niti EACEA.
            </div>
            <div>
              <img
                src="{% static 'img/SL_Co-fundedbytheEU_RGB_POS.png' %}"
                alt="Co-funded by the EU Logo"
              />
            </div>
          </div>
          <div class="author">
            Spletno mesto z 🖤 postavil
            <a href="https://danesjenovdan.si" target="_blank"
              >Danes je nov dan</a
            >.
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
