{% load static solo_tags martortags %}
{% get_solo 'home.LandingPageConfig' as landing_page %}

<div class="bg-alt">
  <div class="container">
    <div class="container">
      <footer class="page-footer">
        <div class="left">
          <img
            class="logo"
            src="{% static 'svg/logo-glasljudstva-black.svg' %}"
          />
          <div class="footer-text">
          {% if landing_page.footer_text %}
            {{ landing_page.footer_text|safe_markdown }}
          {% endif %}
          </div>
        </div>
        <div class="right">
          <div class="privacy">
            <a href="{{ landing_page.privacy_policy_url }}">Politika zasebnosti in varstva osebnih podatkov</a>
          </div>
          <div class="author">
            Spletno mesto z 🖤 postavil
            <a href="https://danesjenovdan.si" target="_blank"
              >Danes je nov dan</a
            >.
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
