{% load static %}

<div class="container">
  <div class="container">
    <header class="page-header">
      <a href="/new-home/" class="logo-type">
        <img class="logo" src="{% static 'svg/logo-glasljudstva.svg' %}">
        <h1 class="type"><em>GLAS</em>LJUDSTVA</h1>
      </a>
      <nav class="links">
        <div class="page-nav">
          <a href="#">O iniciativi</a>
          <a href="#">Kontakt</a>
        </div>
        <div class="socials">
          <a href="https://www.facebook.com/glasljudstvazavse" target="_blank">Facebook</a>
          <a href="https://www.instagram.com/glasljudstva/" target="_blank">Instagram</a>
          <a href="https://twitter.com/glasljudstva" target="_blank">Twitter</a>
        </div>
      </nav>
    </header>
  </div>
</div>
