{% load static solo_tags string_links %}
{% get_solo 'home.LandingPageConfig' as landing_page %}

<div class="container">
  <div class="container">
    <header class="page-header">
      <a href="/new-home/" class="logo-type">
        <img class="logo" src="{% static 'svg/logo-glasljudstva.svg' %}">
        <h1 class="type"><em>GLAS</em>LJUDSTVA</h1>
      </a>
      <nav class="links">
        <div class="page-nav">
          {% for link in landing_page.primarynavbarlink_set.all %}
            <a href="{{ link.url|to_absolute_link }}" {% if link.url|is_external_link %}target="_blank"{% endif %}>{{ link.title }}</a>
          {% endfor %}
        </div>
        <div class="socials">
          {% for link in landing_page.secondarynavbarlink_set.all %}
            <a href="{{ link.url|to_absolute_link }}" {% if link.url|is_external_link %}target="_blank"{% endif %}>{{ link.title }}</a>
          {% endfor %}
        </div>
      </nav>
    </header>
  </div>
</div>
