{% load static %}

<div class="sub-header">
    <h2 style="text-align: center; margin-bottom: 40px;">PREDLOG ZAKONA O SPREMEMBAH IN DOPOLNITVAH ZAKONA O NUJNIH
        UKREPIH ZA ZAGOTOVITEV STABILNOSTI ZDRAVSTVENEGA SISTEMA (ZNUZSZS-B)</h2>
</div>
<div class="row">
    <div class="col">
        <p class="intro-text"><strong>V Sloveniji se trenutno soočamo z dvema zgodovinskima katastrofama.</strong> Prva
            je zelo očitna:
            deroče vode so odnesle hiše, mostove, ceste, poplavile domove, zaustavile tovarne in povzročile tri smrtne
            žrtve. Vendar se je voda naposled umaknila in posledice saniramo. Pridobivamo evropska sredstva, uvajamo
            solidarnostne dajatve, koordiniramo ukrepe po občinah itd. S prvo katastrofo se na vsakodnevni ravni ukvarja
            praktično celotna vlada. <strong>Druga katastrofa je mogoče manj opazna, vendar vsaj enako resna.</strong>
            Ne smemo
            dopustiti, da jo sprejmemo za novo normalnost ali da se njeno reševanje preusmeri na stranski tir.
        </p>
        <p class="intro-text"><strong>Število pacientov brez izbranega osebnega zdravnika je trenutno že okrog
                150.000.</strong>
            Nedopustno dolge čakalne vrste še nikoli v naši zgodovini niso bile daljše in še naprej naraščajo iz meseca
            v mesec. <strong>Avgusta letos je na prvi pregled nedopustno dolgo čakalo že več kot 77.000 ljudi.</strong>
            Javne zdravstvene
            ustanove se zaradi pomanjkanja kadrov zapirajo ali pa delujejo v omejenem obsegu. <strong>Termine za
                bolezenske specialistične preiskave se razpisuje celo za leto 2030.</strong></p>
        <p class="intro-text"><strong>“Uničevalna povodenj” na zdravstvenem področju pa še kar narašča ...</strong></p>
        <p class="intro-text">Škoda, ki jo prinaša zdravstvena kriza, znatno vpliva na gospodarstvo, zaradi vse več
            bolniških odsotnosti in rekordnega absentizma. Bolezni postajajo bolj smrtonosne, ker pacienti mesece
            predolgo čakajo na prve preglede. Vec deset tisoč ljudi živi v negotovosti, strahu in bolečini, ker nimajo
            niti diagnoze, kaj šele terapije. <strong>Soočiti se moramo z dejstvom, da so zdravstvena kriza in z njo
                povezana prepozna diagnostika ter oskrba v preteklem letu zagotovo prinesle tudi mnoge smrtne žrtve, ki
                bi se jim sicer lahko izognili.</strong></p>
        <p class="intro-text"><strong>Medtem v ozadju čakajo privatizatorji in dobičkarji, da iz človeške stiske
                iztisnejo čimveč profita.</strong> Kot gobe po dežju vznikajo novi zavarovalni paketi za preskakovanje
            vrst, vodje oddelkov v javnih bolnišnicah mrzlično ustanavljajo s.p.-je, koncesionarji ponujajo zaposlitve,
            ki zdravnikom za manj dela prinesejo več našega denarja, namenjenega javnemu zdravstvu.</p>
        <p class="intro-text">Z odstopom ministra Loredana se je vzbudilo upanje, da se bo vlada mogoče vendarle lotila
            izpolnjevanja svojih predvolinih zavez in reševanja najbolj perečih problemov v zdravstvu. Paradna
            “digitalizacija” in “vladni poskus prevzema ZZZS” sta se namreč jasno razkrila kot šarlatanska ukrepa, ki
            sta se načrtno izognila vsem resničnim “vzrokom bolezni”, če izjemne škode, ki je bila storjena z
            interventnim “bianko čekom” za izvajanje najbolj profitabilnih storitev, niti ne omenjamo ponovno.</p>
        <p class="intro-text"><strong>V Glasu ljudstva smo upali, da bodo naša utemeljena opozorila in napovedi (ki so
                se vsakič znova potrdile kot pravilne) vendarle končno spodbudili vlado k ukrepanju.</strong></p>
        <p class="intro-text">Žal ugotavljamo, da se to zaenkrat še ni zgodilo. <strong>Predlogi, ki jih je pretekli
                teden predstavil strateški svet, so bistveno premalo odločni, urgentni ter usmerjeni.</strong> Ne
            nakazujejo nikakršne celostne, koordinirane strategije, ki bi lahko obrnila katastrofalne trende v javnem
            zdravstvu. Časa za ukrepanje pa zmanjkuje. Zato je edina smiselna poteza, ki nam je ostala za REŠITEV
            JAVNEGA ZDRAVSTVA, <strong>vložitev zdravstvenega zakona, ki bo direktno naslovil ključne simptome in vzroke
                zdravstvene krize</strong>.</p>
    </div>
</div>
<div class="sub-header">
    <h2 style="text-align: center; margin-bottom: 40px;">NAŠ PREDLAGANI ZAKON BO:</h2>
</div>
<div class="row">
    <div class="col">
        <div class="intro-text"><strong>
                <ol>
                    <li>zagotovil vsakemu prebivalcu dostop do osebnega zdravnika,</li>
                    <li>skrajšal čakalne dobe za prve preglede in ostale storitve,</li>
                    <li>ustavil načrtno rušenje javnega zdravstvenega sistema.</li>
                </ol>
            </strong>
        </div>
    </div>
</div>
<div class="sub-header">
    <h2 style="text-align: center; margin-bottom: 40px;">KAKO BO NAŠ ZAKON TO DOSEGEL?</h2>
</div>
<div class="row">
    <div class="col">
        <p class="intro-text">S predlogom naslavljamo tri ključne probleme javnega zdravstvenega sistema in zanje
            predlagamo serijo začasnih ukrepov, ki bodo omogočili preživetje javnega sistema in lahko hkrati prerastejo
            tudi v sistemske rešitve.</p>
        <p class="intro-text"><strong>Nedostopnost družinskih zdravnikov:</strong></p>
        <p class="intro-text"><strong>Družinskim zdravnikom se glavarinski količniki oziroma prag, nad katerim lahko
                odklanjajo nove paciente, takoj zviša za 10%.</strong> Samo na ta način bo dejansko lahko zagotovljeno
            izpolnjevanje ustavne pravice do izbranega zdravnika, ki ga trenutna raven količnikov ne omogoča. Za vsakega
            pacienta nad trenutno veljavnim pragom dobi ekipa ambulante družinske medicine dodatna finančna sredstva.
            Predlog prinaša tudi dodatne administrativne razbremenitve in kadrovske okrepitve timov družinske medicine.
        </p>
        <p class="intro-text"><strong>Nedopustno dolge čakalne dobe:</strong></p>
        <p class="intro-text">Vsi javni zdravstveni zavodi z nedopustno dolgimi čakalnimi dobami morajo pripraviti
            <strong>akcijske načrte za odpravo čakalnih dob</strong>, njihovo ustreznost bo potrdilo Ministrstvo za
            zdravje, ki bo preko Urada za nadzor, kakovost in investicije tudi nadzorovalo implementacijo načrtov. V
            sodelovanju med zavodi, ZZZS in Ministrstvom za zdravje bodo na podlagi preteklega dela določeni
            <strong>začasni delovni normativi</strong>, na tej osnovi bodo zdravstveni delavci dodatno nagrajeni za delo
            nad rednim programom, s katerim bodo prispevali h krajšanju čakalnih vrst.
        </p>
        <p class="intro-text"><strong>Zdravniško delo v dvojnih praksah in koncesionarska podjetja:</strong></p>
        <p class="intro-text"><strong>Prekličejo se vsa obstoječa soglasja za delo zdravnikov zunaj javnega
                zavoda</strong>, v katerem so zaposleni. Za ponovno izdajo soglasja mora biti izpolnjen pogoj, da zavod
            in zdravnik aktivno sodelujeta v programu krajšanja čakalnih dob ter da ima zdravnik izpolnjene vse začasne
            delovne normative. <strong>Prekliče se avtomatično podaljševanje koncesij in hkrati ustavi podeljevanje
                novih koncesij</strong> dokler Ministrstvo za zdravje ne pripravi novega enotnega koncesijskega akta in
            nove splošne koncesijske pogodbe za vse ravni zdravstvenega varstva, pri čemer mora biti na prvem mestu
            varstvo javnega interesa in uporabnikov.</p>
        <p class="intro-text"><strong>Zakon vlagamo v Državni zbor s prošnjo za razpis roka za zbiranje 5000 overjenih
                podpisov volivk in volivcev.</strong></p>
        <p class="intro-text"><strong>Hkrati apeliramo na poslanke in poslance vladne koalicije, da zakonski predlog v
                naslednjih sedmih dneh proučijo, podprejo in ga v zakonodajni postopek vložijo že sami!</strong> V tem
            primeru bomo z veseljem umaknili našo vlogo in po najboljših močeh podprli vlado pri zakonodajnem procesu.
        </p>
        <p class="intro-text"><strong>V vsakem primeru pa bo naš predlog zakona v najkrajšem času nedvoumno razkril, ali
                ima vlada iskren namen in pogum, da naslovi zdravstveno krizo</strong>, ali pa bo še naprej usodo
            zdravstvo prepuščala tistim, ki jim ustreza “poplavljeno močvirje”, da lahko v kalnem ribarijo za vedno
            novimi miljonskimi dobički.</p>
    </div>
</div>
<!-- <div class="row" style="margin-top: 3em;">
    <div class="col">
        <a href="https://forms.gle/HefxERRfPqfKrsME6" target="_blank"><img style="max-width: 100%; height: auto;"
                src="https://djnd.s3.fr-par.scw.cloud/glas-ljudstva/img/zdravstvo.jpeg"></a>
    </div>
</div> -->
<div class="sub-header">
    <h2 style="text-align: center; margin-bottom: 40px;"><a href="{% static 'pdf/GL-ZNUZSZS-B.pdf' %}"
            target="_blank">BESEDILO ZAKONA –
            v priponki lahko preberete zakon z obrazložitvijo členov.</a></h2>
</div>