<div class="sub-header">
    <h2 style="text-align: center; margin-bottom: 40px;">Po RTV zaščitimo še JAVNO ZDRAVSTVO!</h2>
</div>
<div class="row">
    <div class="col">
        <p class="intro-text">Slovenski javni zdravstveni sistem je že desetletja plen različnih interesnih skupin, ki
            jim je skrb za paciente zadnja briga. Posledice so vse bolj očitne – danes je brez izbranega zdravnika,
            vstopne točke v javno zdravstvo, že več kako 130.000 posameznic in posameznikov. Pridružite se kampanji
            <b>Ustavimo rušenje javnega zdravstva!</b> Prvi korak lahko naredite s podpisom <a href="https://forms.gle/HefxERRfPqfKrsME6" target="_blank">peticije</a>, poziva vladi in
            zdravnikom, naj nemudoma začnejo reševati nevzdržno stanje v javnem zdravstvu.
        </p>
        <p class="intro-text">O vseh naslednjih korakih kampanje vas bomo sproti obveščali na spletni strani in družbenih omrežjih Glasu ljudstva.</p>
    </div>
</div>
<div class="row" style="margin-top: 3em;">
    <div class="col">
        <a href="https://forms.gle/HefxERRfPqfKrsME6" target="_blank"><img style="max-width: 100%; height: auto;" src="https://djnd.s3.fr-par.scw.cloud/glas-ljudstva/img/zdravstvo.jpeg"></a>
    </div>
</div>
<div class="sub-header">
    <h2 style="text-align: center; margin-bottom: 40px;"><a href="https://forms.gle/HefxERRfPqfKrsME6" target="_blank">Povezava do peticije</a></h2>
</div>
