<div class="row">
    <div class="col">
        <p class="intro-text">V iniciativi Glas ljudstva smo veseli, da se je 24. aprila na volišča odpravilo tako
            veliko število ljudi, ki jim je mar za prihodnost Slovenije ter za družbeno, okoljsko, politično in
            ekonomsko situacijo v državi.</p>

        <p class="intro-text">Iskreno se zahvaljujemo vsem, ki ste na kakršen koli način sodelovali v naših aktivnostih,
            oddali svoje komentarje oziroma predloge zahtev za politične stranke, se udeleževali naših dogodkov ali pa
            prebirali naše vsebine in se volitev udeležili bolj informirani.</p>

        <p class="intro-text">Naše delo se s 24. aprilom ni končalo. Na podlagi zavez političnih strank, ki si jih lahko
            ogledaš spodaj, bomo novi vladi gledali pod prste in poskušali z njo tudi aktivno sodelovati ter tako
            zagotoviti, da bodo politiki in političarke v tem mandatu držali svojo besedo.</p>
    </div>
</div>

<div class="divider"></div>

<div class="sub-header">
    <h2 style="text-align: center;"><a id="pdf"
            href="#TODO" target="_blank">PDF dokument z
            vsemi zahtevami 🔗</a></h2>
</div>
