<div class="row">
  <div class="col" style="justify-content: center">
    <div class="monitoring-intro">
      <h1>
        ŠIRIMO GLAS LJUDSTVA: <br />Predstavitev uresničevanja predvolilnih zavez
      </h1>
      <p class="intro-text">
        Je ta vlada drugačna od prejšnjih in drži svoje predvolilne obljube? Ali
        oblikuje politike, ki zasledujejo potrebe ljudi in okolja ali si je
        prioritete zastavila drugače? Kaj je vlada sploh naredila od začetka
        svojega mandata, na katere zaveze je pozabila?
      </p>

      <p class="intro-text">
        <strong>
          Vabimo vas na predstavitev prvega poročila o uresničevanju
          predvolilnih zavez, ki bo potekala v torek, 14. marca, ob 17.30 v
          dvorani Dijaškega doma Tabor.
        </strong>
      </p>

      <p class="intro-text">
        Iniciativa Glas ljudstva že skoraj eno leto spremlja uresničevanje
        zavez, ki so jih politične stranke dale pred državnozborskimi volitvami
        leta 2022. Stranke, ki so po volitvah sestavile vlado, so se zavezale k
        uresničitvi 122 od 138 strokovnih zahtev, ki smo jih članice, podporniki
        in podpornice iniciative Glas ljudstva uskladile pred volitvami (<a
          href="https://drive.google.com/file/d/1KsV7T2rDazcRKhnTEQoE8QcDzoGzO0vz/view"
          target="_blank"
          >zahteve tukaj</a
        >).
      </p>

      <p class="intro-text">
        <strong>
          S prvim poročilom o monitoringu bomo predstavili kako napreduje
          uresničevanje danih obljub, na kakšni ravni je sodelovanje državnih
          organov s civilno družbo in pregledali aktivnosti iniciative v
          preteklem letu. Vlado bomo k politični odgovornosti pozvali tako, da
          bomo izpostavili ključna problematična področja, podali predloge
          ukrepanja, pa tudi pohvalili napredek tam, kjer je do njega prišlo.
        </strong>
      </p>

      <p class="intro-text">
        Ugotovitve bomo ob pestrem kulturnem programu, pogostitvi in druženju
        predstavili v dvorani Dijaškega doma Tabor na Kotnikovi 4 v Ljubljani.
        Vhod je iz Kotnikove ulice (<a
          href="https://www.google.com/maps/place/Kotnikova+ulica+4,+1000+Ljubljana/@46.0537351,14.5111075,17z/data=!3m1!4b1!4m6!3m5!1s0x47653282be0a49ff:0x5a90244d2fccd258!8m2!3d46.0537314!4d14.5132962!16s%2Fg%2F11c25b3ztm"
          target="_blank"
          >lokacija tukaj</a
        >).
      </p>

      <p class="intro-text">
        Prosimo, da svojo udeležbo potrdite (<a
          href="https://forms.gle/GXni7F3XQwBNRaqbA"
          target="_blank"
          >prijava tukaj</a
        >).
      </p>

      <p class="intro-text">Lepo vas vabimo, da se nam pridružite!</p>
    </div>
  </div>
</div>
