{% load static %}
<div class="row">
  <div class="col" style="justify-content: center">
    <div class="monitoring-intro">
      <h1>
        OBLIKOVALI SMO ZAKONSKI PAKET ZA USTAVITEV RUŠENJA JAVNEGA ZDRAVSTVA
      </h1>

      <p class="intro-text">
        <strong>
          V torek 28. marca 2023 smo na novinarski konferenci na ljubljanskem Trgu republike predstavili predloge treh
          zakonov, ki jih je civilna družba, združena v iniciativi Glas ljudstva, oblikovala za začetek naslavljanja
          akutne krize slovenskega zdravstvenega sistema.
        </strong>
      </p>

      <p class="intro-text">
        Predlagamo ključne rešitve, ki so zbrane v zakonskih predlogih
      </p>
      <ul class="intro-text">
        <li><a href="{% static 'pdf/GL-interventni-zakon.pdf' %}" target="_blank">
            Predlog zakona o spremembah in dopolnitvah Zakona o nujnih ukrepih za zagotovitev stabilnosti zdravstvenega
            sistema;
          </a></li>
        <li><a href="{% static 'pdf/GL-ZZVZZ.pdf' %}" target="_blank">Predlog zakona o spremembah in dopolnitvah Zakona
            o zdravstvenem varstvu in
            zdravstvenem zavarovanju;</a></li>
        <li><a href="{% static 'pdf/GL-zakon-o-socialnih-prispevkih.pdf' %}" target="_blank">Predlog zakona o spremembah
            in dopolnitvah Zakona o prispevkih za socialno
            varnost.</a></li>
      </ul>

      <p class="intro-text">
        Predlogi so nastali v želji po <strong>konstruktivnem in strokovnem sodelovanju pri reševanju vse hujše
          zdravstvene krize ter zaščiti javnega zdravstva</strong> pred spodkopavanjem s strani zasebnih interesov.
      </p>

      <p class="intro-text">
        <strong>
          Prvi zakon temelji na izsledkih analize (ne)uspešnosti obstoječega interventnega zakona. Ta je bil sprejet
          septembra 2022
        </strong> in predstavlja do sedaj edini ukrep Ministrstva za zdravje, ki naj bi naslavljal vsakodnevno
        slabšanje situacije v javnem zdravstvu. Naši izsledki in analize, ki so podrobneje predstavljeni v uvodu našega
        predloga “zakona o nujnih ukrepih”, kažejo da je interventni zakon z
        neusmerjenim financiranjem vseh koncesionarskih storitev spodbudil kadrovski osip v javnem zdravstvu ter
        zmanjšal količino opravljenih storitev v javnih ustanovah (na račun bolj dobičkonosnih storitev v
        koncesionarskem sistemu).
      </p>
      <p class="intro-text">
        <strong>Predlog zakona o nujnih ukrepih</strong> za zagotovitev stabilnosti zdravstvenega sistema (v
        nadaljevanju predlog interventnega zakona) zasleduje naslednje cilje:
      </p>

      <ul class="intro-text">
        <li><strong>usmerjena poraba dodatnih sredstev za najbolj nujne posege</strong>, prve preglede pri specialistih
          in za obravnavo
          ranljivih/rizičnih skupin</li>
        <li><strong>strateško oblikovanje mreže primarnih zdravnikov ter njihova primerna geografska
            razporeditev</strong>
          (nesprejemljivo je da morajo ljudje, k osebnemu zdravniku v drugo občino)</li>
        <li><strong>zaustavitev kadrovskega plenjenja koncesionarjev po javnih zavodih</strong>;</li>
        <li><strong>vzpostavitev jasnih standardov in normativov za zdravniško delo</strong>, katerih izpolnjevanje je
          predpogoj za
          kakršnokoli dodatno ali popoldansko delo</li>
        <li><strong>dvig števila pacientov</strong>, pri katerem lahko zdravnik odkloni sprejem pacienta, na raven,
          <strong>ki bo zagotovila, da lahko ima vsak državljan in državljanka svojega osebnega zdravnika, kar narekuje
            tudi ustava RS</strong>
        </li>
        <li><strong>pravično nagrajevanje celotnih timov v primarnem zdravstvu</strong>, ki za doseganje večje
          dostopnosti zdravstvenih
          storitev, krajšanje čakalnih vrst in pravočasno obravnavo pacientov, presegajo normative (npr. več
          opredeljenih pacientov pri timih družinske medicine).</li>
        <li><strong>Pripravo nove standardne koncesijskih pogodbe</strong>, ki bo zagotovila, da izvajalci koncesijskih
          storitev ne bodo
          v priviligiranem položaju</li>
      </ul>

      <br />

      <p class="intro-text">
        Preostala dva osnutka zakonskih predlogov sta namenjena <strong>odpravi dopolnilnega zdravstvenega
          zavarovanja</strong>. Nujnost
        ukinitve dopolnilnega zdravstvenega zavarovanja je že dolgo let prisotna v naši družbi, mnogo prejšnjih vlad je
        obljubljalo, da ga bo ukinilo, a niti ena tega ni uresničila. <strong>Trenutna ureditev dopolnilnega
          zdravstvenega zavarovanja je krivična, saj vse ljudi obremenjuje enako, ne glede na njihov ekonomski položaj
          obljubljalo, da ga bo ukinilo, a niti ena tega ni uresničila. </strong> - najrevnejše
        trenutna ureditev obremenjuje bistveno bolj kot najpremožnejše.
      </p>

      <p class="intro-text">
        <strong>
          Naš predlog odpravlja to krivičnost in udejanja to, kar je mnogo prejšnjih vlad obljubljalo. Vzpostavlja
          pravičnejšo prispevanje, ki se bo stekalo direktno v javno blagajno, ne pa v bogatenje privatnih
          zavarovalnice.
        </strong>
      </p>

      <p class="intro-text">
        Prispevek se bo odmerjal s socialnim dohodninskim prispevkom, ki se bo odmeril v procentu dohodninske osnove
        (predvidoma 1,4%) in ne bo dodatno obremenjeval proračuna RS. </p>
      <p class="intro-text">
        <strong>
          Predlog s tem prinaša manjše obremenitve za najbolj ranljive, in sicer bo po našem predlogu:

        </strong>
      </p>
      <ul class="intro-text">
        <li><strong>99% upokojencev plačevalo manj kot znaša sedanja premija DZZ</strong></li>
        <li>
          <strong>89% zaposlenih plačevalo manj kot znaša sedanja premija DZZ.</strong>
        </li>
      </ul>

      <p class="intro-text">
        S tako zbranimi sredstvi ter s prispevki delodajalcev se bo tako zagotovilo približno 600 milijonov evrov, ki so
        potrebna za vzdrževanja sistema. </p>


      <p class="intro-text">
        Vse podrobnosti najdete v zgornjem osnutku zakona. </p>

      <p class="intro-text">
        Po novinarski konferenci smo predloge zakonov javno predali poslancem in poslankam koalicijskih strank in jih
        <strong>povabili, da se nam pridružijo v skupnem procesu javne razprave, dopolnitve in vložitve
          zakonov</strong>. Vse tri
        predloge zakonov z utemeljitvami smo predstavili tudi predsedniku vlade in upamo, da jih bo kot vodja
        zdravstvene reforme podrobno preučil in tudi podprl.
      </p>


      <p class="intro-text">
        Na konferenci smo napovedali tudi pomembni dogodek naše kampanje: <strong>POHOD ZA JAVNO ZDRAVSTVO</strong>, ki
        se bo zaključil z
        <strong>JAVNO TRIBUNO</strong> na kateri bomo predstavili naše zakonske predloge in udeležence povabili k odprti
        razpravi. <strong>Pohod se bo začel pred Ministrstvom za zdravje 7. aprila, na svetovni dan zdravja ob
          18:00.</strong>
      </p>

      <p class="intro-text">
        <strong>
          Dovolj je bilo zamikanja časovnic, praznih stresnih testov, prelaganja odgovornosti in iskanja posameznih
          krivcev, medtem ko javno zdravstvo vsak dan bolj razpada! Dan za dnem smo priča novim, šokantnim primerom
          etičnega in moralnega razkroja, ki se v javnem zdravstvu razrašča kot posledica sistemskih pomanjkljivosti in
          zasebnih interesov!
        </strong>
      </p>

      <p class="intro-text">
        <strong>
          Zadnji čas je, da vlada z odločnimi in nedvoumnimi ukrepi dokaže verodostojnost svojih zavez za ohranitev in
          krepitev javnega zdravstva!
        </strong>
      </p>

    </div>
  </div>
</div>