<div class="sub-header">
    <h2 style="text-align: center; margin-bottom: 40px;">VELIKA STAVKA PACIENTK IN PACIENTOV – 10. 1. 2023 </h2>
</div>
<div class="row">
    <div class="col">
        <p class="intro-text">Čas je, da se v ospredje razprave o zdravstvenem sistemu postavi interese ter pravice
            prebivalk in prebivalcev, torej pacientk in pacientov.
        </p>
        <p class="intro-text">Slovenski javni zdravstveni sistem je že desetletja plen različnih interesnih skupin, ki
            jim je skrb za paciente zadnja briga. Posledice so vse bolj očitne – danes je brez izbranega zdravnika,
            vstopne točke v javno zdravstvo, že več kot 130.000 posameznic in posameznikov, več kot 60 pa jih vsak dan
            izgubi izbranega zdravnika. Zdravstveni sistem poka po šivih, vse več sredstev se pretaka k zdravnikom –
            podjetnikom, s tem pa v smer privatizacije zdravstva, hkrati pa stavko napovedujejo zdravniki, ki so med
            najbolje plačanimi v državi. Odgovornost za nastalo situacijo nosi kar nekaj preteklih vlad, a trenutna je
            zavezana takojšnjemu ukrepanju in uvedbi sistemskih rešitev za ohranitev javnega zdravstva.</p>
        <p class="intro-text"><strong>Prva stavka pacientk in pacientov v zgodovini Slovenije bo potekala na delovnih
                mestih,
                pred zdravstvenimi domovi v različnih krajih po Sloveniji, ob 17. uri pa se bomo zbrali tudi na Trgu
                republike v Ljubljani.</strong></p>
        <p class="intro-text">Na stavki, ki se bo odvila v okviru kampanje Glas ljudstva “Ustavimo rušenje javnega
            zdravstva!”, bomo predstavili naslednje stavkovne zahteve:</p>
        <div class="intro-text"><strong>
                <ol>
                    <li>VSEM PACIENTOM JE TREBA NEMUDOMA ZAGOTOVITI DOSTOP DO OSEBNEGA ZDRAVNIKA,</li>
                    <li>ODPRAVITI SE MORA DOPOLNILNO ZDRAVSTVENO ZAVAROVANJE (TAKO, DA SE UKINEJO DOPLAČILA ZA
                        ZDRAVSTVENE
                        STORITVE),</li>
                    <li>PREKINITI JE TREBA DELO ZDRAVNIKOV V DVOJNI PRAKSI (T. I. DVOŽIVKARSTVO),</li>
                    <li>PREPREČITI JE TREBA PRESKAKOVANJE ČAKALNIH VRST, KI JIH OMOGOČAJO KOMERCIALNA ZAVAROVANJA,</li>
                    <li>JAVNO ZDRAVSTVO MORA SLEDITI POTREBAM PACIENTOV, NE PROFITOM KONCESIONARJEV.</li>
                </ol>
            </strong>
        </div>
        <p class="intro-text">Stavka bo potekala ves dan v torek, 10. januarja 2023, in sicer tudi na delovnih mestih.
        </p>
        <p class="intro-text"><strong>Ljudje lahko podporo stavki izrazijo tako, da na ta dan nosijo simbol stavke – dva
                prekrižana obliža, nalepljena na “srčni strani”.</strong> Poleg označevanja podpore stavki imajo obliži
            še simboličen
            pomen: javno zdravstvo nam umira pred očmi, potrebuje “operacijo srca” in veliko več od zgolj površinskega
            “lepljenja obližov”. <strong>Obliži, ki si jih lahko podporniki in podpornice na obleko nalepijo sami, ter
                značke z
                enakim sporočilom bodo sporočali solidarnost s stavkovnimi zahtevami.</strong></p>
        <p class="intro-text"><strong>Ob 17. uri se bomo pacienti in pacientke zbrali na Trgu republike v
                Ljubljani</strong>, hkrati pa
            tudi v drugih krajih po vsej Sloveniji:</p>
        <div class="intro-text">
            <ul>
                <li><strong>Izola:</strong> Zbor na Lonki, od koder bomo skupaj odšli pred zdravstveni dom</li>
                <li><strong>Koper</strong>: Zbor na Titovem trgu, od koder bomo skupaj odšli pred zdravstveni dom</li>
                <li><strong>Maribor</strong>: Zbor na Trgu svobode, od koder bomo skupaj odšli pred zdravstveni dom</li>
                <li><strong>Novo mesto</strong>: Zbor na Glavnem trgu, od koder bomo skupaj odšli pred zdravstveni dom
                </li>
                <li><strong>Slovenske Konjice</strong>: Zbor pred zdravstvenim domom</li>
                <li><strong>Kranj</strong>: Zbor pred zdravstvenim domom</li>
                <li><strong>Kamnik</strong>: Zbor pred zdravstvenim domom</li>
                <li><strong>Slovenj Gradec</strong>: Zbor na Trgu svobode</li>
            </ul>
        </div>
        <p class="intro-text">S stavko bomo hkrati skušali pomagati pacientom in pacientkam brez osebnega zdravnika in
            jim ponuditi pravno pomoč. Skupaj s Pravno mrežo za varstvo demokracije v imenu posameznic in posameznikov
            brez izbranega zdravnika pripravljamo tudi tožbo.</p>
        <p class="intro-text"><strong>To NI stavka proti zdravnicam in zdravnikom, še posebej ne proti tistim v javnem
                sistemu.
                Stavka tudi NI usmerjena proti vladi in nikakor NI podpora opoziciji, ki ima privatizacijo zdravstva
                celo
                uradno zapisano v svojih programih. Je stavka za javno zdravstvo; stavka pacientk in pacientov, zdravnic
                in
                zdravnikov ter vseh zdravstvenih delavk in delavcev, ki še vztrajajo v javnem sistemu ter soglašajo, da
                morajo biti zdravstvene storitve pod enakimi pogoji dostopne vsem.</strong></p>
        <p class="intro-text">Na stavko torej vabimo vse, ki jim je mar za javno, kakovostno in vsem dostopno zdravstvo!
            Vladi pa sporočamo: <strong>Čas je za takojšnje in sistemsko ukrepanje, saj samo obliži ne bodo
                zadostovali!</strong></p>
    </div>
</div>
<!-- <div class="row" style="margin-top: 3em;">
    <div class="col">
        <a href="https://forms.gle/HefxERRfPqfKrsME6" target="_blank"><img style="max-width: 100%; height: auto;"
                src="https://djnd.s3.fr-par.scw.cloud/glas-ljudstva/img/zdravstvo.jpeg"></a>
    </div>
</div> -->
<div class="sub-header">
    <h2 style="text-align: center; margin-bottom: 40px;"><a
            href="https://drive.google.com/file/d/1MN8v7bgIZhSJ8ll46B5Vh6W3C-wwbsZp/view?usp=sharing" target="_blank">POMEMBNO –
            v priponki lahko preberete podrobnejšo predstavitev konkretnih ukrepov, ki so
            usklajeni s stroko in smo jih predali ministru za zdravje Danijelu Bešiču Loredanu.</a></h2>
</div>