<div class="row">
    <div class="col">
        <p class="intro-text">23. oktobra 2022 se bomo odpravili na volišča in izbrali novega predsednika_co. Da se bomo
            volivke in volivci lažje odločili, komu zaupati svoj pomemben glas na predsedniških volitvah, smo v
            iniciativi Glas ljudstva pripravili preprosto spletno orodje: <a href="https://volitvomat.si/"
                target="_blank">volitvomat.si</a>, kjer lahko odgovorimo na 30
            vprašanj, na katera so že predhodno odgovorili
            kandidatke in kandidati, ter tako preverimo, v kolikšni meri se naše vrednote in prepričanja ujemajo s
            tistimi, ki želijo biti naš predsednik ali predsednica. Z vprašanji smo preverjali njihova stališča,
            vrednote, držo in odnos do pomembnih družbenih vprašanj z različnih področij: zunanje politike, človekovih
            pravic, vladavine prava, obrambe, sodstva, okolja, gospodarstva, zdravstva, medijev, kulture in opravljanja
            predsedniške funkcije.
        </p>

        <p class="intro-text">Vprašanja smo namenoma podali iz različnih svetovnih in vrednotnih nazorov ter zato
            posebej poudarjamo, da to niso stališča iniciative Glas ljudstva.
        </p>

        <p class="intro-text">Vprašalnik za vključitev v volitvomat smo poslali vsem, ki so napovedali kandidaturo na
            predsedniških volitvah in naknadno bomo vključili vsakega kandidata_ko, ki bo še odgovoril_a na vprašalnik
            Glas ljudstva.
        </p>

        <p class="intro-text">Na zadnjih predsedniških volitvah je bila volilna udeležba nizkih 42 %. A demokracija je
            resnično demokratična le, če pri odločanju sodeluje kar največ ljudi. Zato ne pozabimo – naš glas šteje
            samo, če ga na volitvah oddamo!
        </p>
    </div>
</div>
