{% load static %}
<div class="row">
  <div class="col" style="justify-content: center">
    <div class="monitoring-intro">
      <h1>
        Novinarska konferenca civilne iniciative Glas ljudstva, ponedeljek, 3. aprila 2023 ob 14h pred Ministrstvom za
        zdravje
      </h1>

      <p class="intro-text">
        Predstavniki iniciative Glas Ljudstva Dušan Keber, Jaša Jenull in Tea Jarc so zbranim novinarjem predstavili
        naslednje urgentne vsebine:
      </p>

      <p class="intro-text">
        <strong>
          1. Minister za zdravje razglaša popolni neuspeh svojega interventnega zakona za uspeh
        </strong>
      </p>

      <p class="intro-text">Iniciativa Glas ljudstva je javnosti predstavila svojo analizo, ki temelji na podatkih ZZZS,
        da interventni Zakon o nujnih ukrepih za zagotovitev stabilnosti zdravstvenega sistema ne deluje. Nedopustno
        dolgo čaka 120.000 bolnikov, kar je 40.000 več kot leto poprej, v javnih bolnišnicah so obravnavali 15.000
        bolnikov manj kot leta 2019, in opravili 60.000 manj prvih pregledov, opravili so tudi manj ortopedskih in
        srčnih operacij. Število pacientov brez izbranega zdravnika se je samo v nekaj zadnjih mesecih povečalo od
        132.000 na 140.000 (Podatki so pridobljeni od ZZZS kot odgovor na vprašanja, ki ga je Glas ljudstva naslovil
        ZZZS v skladu z Zakonom o informacijah javnega značaja.). Minister za zdravje je pred devetimi meseci napovedal,
        da se bodo čakalne dobe v enem letu razpolovile. Današnje daljše čakalne dobe razlaga kot uspeh z naslednjimi
        besedami: zakon je kljub temu učinkovit, saj bi se sicer čakalne dobe še bolj povečevale.</p>

      <p class="intro-text"><strong>2. Ministrstvo prikriva in navaja napačne podatke </strong></p>
      <p class="intro-text">Nobenega od zgoraj prikazanih podatkov iz poročila ZZZS ministrstvo ni prikazalo in še manj
        komentiralo. Obenem prikriva velikanski delež denarja, ki so ga od doslej porabljenih sredstev prejeli
        zasebniki. Aleš Šabeder, direktor Urada RS za nadzor, kakovost in investicije v zdravstvu, je prejšnji teden
        navedel polovico manjšo številko, 14 milijonov evrov. V resnici so prejeli kar 28,3 milijona evrov od skupaj
        79,1 milijonov doslej porabljenega denarja, po finančnem obsegu sedemkrat večji javni zavodi pa slabi dve
        tretjini. Povedano drugače: zasebniki so glede na svoje zmogljivosti prejeli trikrat več denarja kot javni
        zavodi. </p>
      <p class="intro-text">V Glasu ljudstva trdimo, da je helikopterski denar brez usmeritve na najbolj potrebne
        storitve med izvajalci prebudil plenilsko miselnost: v javnih zavodih se je storilnost zmanjšala, čakalne dobe
        so se podaljšale, javni zdravniki in javni denar pa se selijo h koncesionarjem.V javnih ustanovah ostajajo na
        čakalnih seznamih najtežji in najbolj tvegani bolniki.</p>

      <p class="intro-text"><strong>3. Namesto da bi se reforma reševala vedno slabšo dostopnost do zdravstvenih pravic,
          se ukvarja z digitalizacijo in politično podreditvijo ZZZS </strong></p>
      <p class="intro-text">Izražamo tudi zaskrbljenost, da je za ministra poleg digitalizacije ključni reformni ukrep
        sprememba upravljanja ZZZS, ki uvaja povečano odvisnost od politike, čeprav je zdravstvena blagajna last
        zavarovancev. Pričakujemo, da bodo sindikati ustrezno odreagirali na dejstvo, da se jim odvzema celo izbor
        predstavnikov delojemalcev v svetu zavoda in se ga prenaša na Socialno ekonomski svet. Za Glas ljudstva je
        nesprejemljivo tudi, da je to edina sprememba Zakona o zdravstvenem varstvu in zdravstvenem zavarovanju (ZZVZZ),
        kar minister utemeljuje, da še vsak minister, ki je ta zakon "odprl", ni končal mandata. Ali to pomeni, da
        številna določila, ki terjajo popravke, nekatera tudi zaradi deset let starih zahtevah Ustavnega sodišča, tudi v
        tem mandatu ponovno ne bodo prišla na vrsto, ker se minister boji za svoj položaj? Opozarjamo, da celovit
        predlog ZZVZZ, ki odpravlja neustavnosti in druge pomanjkljivosti, že pet let tiči v predalih ministrstva. </p>

      <p class="intro-text"><strong>4. Prava reforma, privatizacija zdravstva, se pripravlja mimo oči javnosti</strong>
      </p>
      <p class="intro-text">V Glasu ljudstva utemeljeno domnevamo, da se prava zdravstvena reforma pripravlja na
        ministrstvu skrito pred očmi javnosti. V zadnjem času kroži v izbranih zdravstvenih krogih osnutek zakona, ki
        predvideva preoblikovanje javnih zdravstvenih zavodov v gospodarske družbe, ki ne bi bile več del javnega
        sektorja, pri čemer bi sklep o preoblikovanju sprejel kar minister in ne svet zavoda, pravni položaj zaposlenih
        pa bi se izenačil s položajem zaposlenih v gospodarstvu. Gre za nesprejemljivo podjetizacijo in privatizacijo
        javnih ustanov, zato zahtevamo, da se ministrstvo jasno opredeli do tega osnutka in potrdi ali zanika njegovo
        avtorstvo. </p>
      <p class="intro-text">Tudi sicer si javnost zasluži izvedeti, kakšni so vsebina in cilji zdravstvene reforme, saj
        o tem doslej ni izvedela ničesar. Razen če so to ob vse večjih zdravstvenih stiskah prebivalstva zgolj
        digitalizacija in podržavljenje ZZZS. Dovolj je zakulisnih dogovorov zdravstvenih elit. Kdo v imenu ministrstva
        pripravlja zakone za privatizacijo javnega zdravstva? Čas je, da se začnemo javno pogovarjati o resničnih
        problemih slovenskega zdravstva. Minister naj preneha s sprenevedanjem in jasno pove, ali namerava podpirati
        krepitev javnega zdravstva ali pa se zavzema za njegovo privatizacijo in razgradnjo..</p>

      <p class="intro-text"><strong>5. Zahtevamo odziv vlade na zakonske predloge Glasu ljudstva</strong></p>
      <p class="intro-text">Glas ljudstva je javnosti, poslancem koalicije in predsedniku vlade predstavil predlog treh
        zakonov, od teh eden odpravlja napake interventnega zakona, dva pa odpravljata krivično dopolnilno
        zavarovanje. Če imajo obljube sedanje koalicije o tesnem sodelovanju s civilno družbo sploh kakšno težo,
        pričakujemo, da Ministrstvo za zdravje na te predloge nemudoma odgovori, saj so to doslej edini znani predlogi,
        ki naslavljajo današnje kritične razmere v zdravstvu.</p>
      <p class="intro-text">Na zaključku novinarske konference je Tea Jarc predstavila pomemben dogodek, ki ga
        pripravlja Glas ljudstva: <strong>Pohod za javno zdravstvo z Odprto tribuno</strong>, ki bo potekal na Svetovni
        dan zdravja
        <strong>v petek, 7. aprila, z začetkom ob 18h izpred Ministrstva za zdravje</strong>, Nebotičnik, Štefanova
        ulica 5, Ljubljana.
      </p>

      <p class="intro-text">Glas ljudstva vabi na čim bolj številčno udeležbo Pohoda vse državljane, ki so upravičeno
        zaskrbljeni in jim ni vseeno, da se pred našimi očmi ruši javno zdravstvo in celoten zdravstven sistem. </p>

      <p class="intro-text">
        <strong>Priponke:</strong>
      </p>
      <ul class="intro-text">
        <li><a href="{% static 'pdf/GL-interventni-zakon.pdf' %}" target="_blank">
            Predlog zakona o spremembah in dopolnitvah Zakona o nujnih ukrepih za zagotovitev stabilnosti zdravstvenega
            sistema;</a></li>
        <li><a href="{% static 'pdf/GL-ZZVZZ.pdf' %}" target="_blank">Predlog zakona o spremembah in dopolnitvah Zakona
            o zdravstvenem varstvu in zdravstvenem zavarovanju;</a></li>
        <li><a href="{% static 'pdf/GL-zakon-o-socialnih-prispevkih.pdf' %}" target="_blank">Predlog zakona o spremembah
            in dopolnitvah Zakona o prispevkih za socialno varnost.</a></li>
        <li><a href="{% static 'pdf/ZPDDSOM.pdf' %}" target="_blank">"skrivni zakon", ki ga je
            po neuradnih informacijah pripravila Zdravniška zbornica</a></li>
        <li><a href="{% static 'xlsx/ZZZS-porabniki.xlsx' %}" target="_blank">tabela, iz katere je jasno
            razvidna poraba sredstev interventnega zakona, za katerega minister za zdravje navaja drugačne podatke</a>
        </li>
      </ul>
    </div>
  </div>
</div>