{% load static %}
<div class="row">
    <div class="col" style="justify-content: center">
        <div class="monitoring-intro">
            <h1>
                PO LETU DELOVANJA VLADA ŠE NE URESNIČUJE DANIH ZAVEZ
            </h1>

            <style>
                button,
                a.button {
                    border-radius: 0;
                    min-width: 157px;
                    height: 48px;
                    border: 2px solid #ed1c24;
                    background-color: #ffffff;
                    font-family: 'freesansboldoblique';
                    font-size: 20px;
                    text-decoration: underline;
                    margin-top: 10px;
                    cursor: pointer;
                    padding-left: 20px;
                    padding-right: 20px;
                }

                button:hover,
                a.button:hover {
                    background-color: #f3f3f3;
                }
            </style>

            <!-- <div class="intro-text" style="text-align: center; margin-bottom: 30px;">
                <a class="button"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSceenTvaA6LqDx4Rd9Lar5OT4zpKYiSOwJUNGvhc16K5gm5ZQ/viewform"
                    target="_blank">Pridruži se kampanji!</a>
            </div> -->

            <p class="intro-text">
                Pred dobrim letom in pol je nastala iniciativa Glas ljudstva, ki združuje več kot 100
                civilnodružbenih organizacij ter več tisoč posameznic in posameznikov z vseh
                družbenih področij in iz celotne Slovenije. S ciljem povečanja politične odgovornosti
                nosilcev oblasti in politik, usmerjenih v dolgoročno dobrobit ljudi in okolja smo
                naslovili široko usklajene in strokovno utemeljene zahteve na vse stranke, ki so
                kandidirale na zadnjih državnozborskih volitvah. Stranke, ki danes sestavljajo vladno
                koalicijo, so se tako med 138 zavezami iz različnih družbeno-političnih področij
                enotno zavezale, da jih bodo uresničile kar 122.
            </p>

            <p class="intro-text">V Glasu ljudstva budno spremljamo uresničevanje predvolilnih zavez. Opažamo
                pozitivne premike na več področjih. Za polovico izmed 122 predvolilnih zavez
                ugotavljamo, da vlada na njihovi uresničitvi dela, vsako deseto zavezo pa je delno
                izpolnila. V celoti je uresničila devet predvolilnih zavez, pomembnih za vladavino
                prava, zlasti zaščito žvižgačev, za socialni dialog, digitalno varnost, neodvisnost RTV
                Slovenija itn. <strong>Vendar je število povsem nedotaknjenih predvolilnih zavez veliko,
                    več kot 30 je obljubljenih ukrepov, glede katerih vlada še ni storila nič.</strong></p>

            <p class="intro-text">Danes smo se posebej osredotočili na 29 zavez, izpolnitvi katerih so se zavezali v
                prvem letu mandata. Tukaj žal podajamo slabo oceno: izpolnili ste le štiri, tri pa so
                celo prelomljene.</p>

            <p class="intro-text">Poleg neizpolnjevanja danih zavez je iz vidika civilne družbe problematično tudi
                samo delovanje vlade, ki velik del predpisov sprejema brez javne razprave in posveta
                s ključnimi akterji, kar postavlja pod vprašaj iskrenost namer in demokratičnega
                dialoga z ljudstvom. <strong>Vključevanje civilne družbe v strateške skupine, strokovne
                    svete in posvetovalna telesa se čedalje bolj kaže za prazne geste, ki nimajo
                    nikakršnega vpliva na dejanske odločitve vlade.</strong></p>


            <p class="intro-text">
                <strong>Še posebej kritično je stanje na področjih stanovanj in zdravstva</strong>, kjer vse kaže, da
                bo vlada prelomila zaveze tako glede gradnje 30.000 novih neprofitnih stanovanj in
                uvedbe progresivnega nepremičninskega davka kot tudi glede prepovedi
                popoldanskega dela zdravnic in zdravnikov pri zasebnikih oziroma jasne razmejitve
                javnega in zasebnega zdravstva.
            </p>
            <p class="intro-text">
                Tudi na področju volilnega sistema je prišlo do zastoja; po včerajšnjih besedah
                predsednika vlade so sedaj na mizi vsaj dobre napovedi.
            </p>
            <p class="intro-text">
                Izpolnjevanje zavez na teh treh področjih so predstavili Maša Hawlina (Zadrugator),
                Katarina Bervar Sternad (PIC – Pravni center za varstvo človekovih pravic in okolja)
                ter dr. Dušan Keber (ZaNas - Združenje za državljanski nadzor javnega zdravstva).
            </p>
            <p class="intro-text">
                Da ne bi ostalo pri ocenjevanju stanja realizacije zavez le s strani GL, smo vodje
                koalicijskih strank povabili, da svoje izpolnjevanje zavez ljudstvu neposredno
                predstavijo v živem, odprtem in javnem prostoru, kjer jim lahko tudi sami ljudje
                postavijo vprašanja, ki so zanje pomembna. <strong>S tem namenom organiziramo prvo
                    povolilno javno soočenje vodij koalicijskih strank z ljudstvom, ki bo potekalo v
                    torek, 27. junija, od 19. do 20. ure na Trgu republike</strong>.
            </p>
            <p class="intro-text">
                Vlada ima samo še 154 tednov časa, da izpolni preostalih 113 zavez. Če vladne
                stranke in njihovi voditelji svojih zavez ne bodo začeli uresničevati, bodo volivci in
                volivke izgubili zaupanje v demokracijo in se ne bodo več odzivali na pozive k visoki
                udeležbi na volitvah. To lahko odpre pot novemu vzponu nedemokratičnih sil in idej.
            </p>
            <p class="intro-text">
                Zato pozivamo vlado, naj postavi dobrobit ljudi in narave pred parcialne interese
                politike in kapitala in začne resno izpolnjevati svoje predvolilne zaveze na vseh
                področjih. <strong>Čas za ukrepe se izteka!</strong>
            </p>
            <h1 class="intro-text">
                <a href="https://djnd.s3.fr-par.scw.cloud/glas-ljudstva/pdf/Obletnica.pdf" target="_blank">
                    Podrobnejša poročila glede izpolnjevanja zavez z različnih področij
                </a>
            </h1>

        </div>
    </div>
</div>