{% load static %}
<div class="row">
  <div class="col" style="justify-content: center">
    <style>
      .pismo-text .intro-text {
        margin-bottom: 1em;
      }
    </style>
    <div class="monitoring-intro pismo-text">
      <p class="intro-text">
        <strong>Spoštovani dr. Robert Golob, Tanja Fajon in Luka Mesec,</strong>
      </p>

      <p class="intro-text">
        <strong
          >v civilni iniciativi Glas ljudstva se odzivamo na vašo
          nepripravljenost, da se osebno udeležite javnega soočenja z ljudstvom,
          ki bi moralo potekati 27. junija na Trgu republike v Ljubljani, v
          enaki obliki, kot je potekalo soočenje pred volitvami. Živ dialog s
          civilno družbo in širšo javnostjo ni zgolj prazna gesta ali oviranje
          vašega delovanja, temveč ključen del njenega spremljanja, razumevanja
          in podpore pri uresničevanju vaših zavez.</strong
        >
      </p>
      <p class="intro-text">
        Že konec maja smo vas na soočenje povabili z željo, da boste svoje
        izpolnjevanje zavez ljudstvu neposredno predstavili v živem, odprtem in
        javnem prostoru, ter da vam bodo ljudje lahko tudi sami postavili
        vprašanja, ki so zanje pomembna. Iz kabineta predsednika vlade so nam
        sporočili, da se dr. Golob soočenja ni pripravljen udeležiti. Razumemo,
        da so koalicijske stranke za nastalo zagato več tednov iskale rešitev in
        se nato tik pred zdajci odločile, da vse tri na soočenje namesto svojih
        predsednic_kov, ki so pred dobrim letom na enaki prireditvi osebno
        podali_e zaveze, pošljejo vodje svojih poslanskih skupin. Naj poudarimo,
        da je soočenje vodij poslanskih skupin dobrodošlo in ga z veseljem
        organiziramo, a ne kot nadomestek soočenja tistih, ki so na trgu
        zastavili svojo besedo.
      </p>
      <p class="intro-text">
        <strong
          >Zato dovolite, da vas osebno ponovno povabimo na soočenje, kot vodje
          koalicijskih strank, ki so na soočenju pred državnozborskim volitvami
          dali zaveze volivkam in volivcem, ki so tudi zaradi te vaše
          pripravljenosti na takšen dialog z ljudstvom in civilno družbo v
          izjemnem številu šli na volitve in vam zaupali svoj glas</strong
        >.
        <strong
          >Vaša udeležba na soočenju bo tako jasno merilo vašega spoštovanja
          volivk in volivcev ter civilne družbe.</strong
        >
      </p>
      <p class="intro-text">
        Zavračanje dialoga ni primeren način soočanja s pričakovanji družbe v
        delujočih demokracijah. Iskanje družbenega soglasja potrebuje
        kontinuiran in vsebinski dialog. Vloga civilne družbe pri tem ne sme
        biti razumljena kot prepreka ali kot nujno zlo, saj je ključen del
        zdravega demokratičnega procesa. Pojasnjevanja uresničevanja zavez
        državljankam in državljanom se zato ne sme odlagati na točko, ko bodo
        projekti pripravljeni. Izvršna oblast mora korake za reševanje ključnih
        družbenih problematik (npr. spopadanje z inflacijo, krizo v zdravstvenem
        sistemu, podnebno krizo itd.) utemeljevati sproti, saj
        <strong
          >javnosti dolguje legitimnost svojega obstoja in brez njene podpore
          projektov tudi ne more uspešno izpeljati, </strong
        >sploh kadar so na drugi strani dobičkarski lobiji oz. dobro
        organizirani zasebni interesi.
      </p>
      <p class="intro-text">
        <strong
          >Srčno upamo, da se boste po premisleku odločili udeležiti soočenja z
          ljudstvom in vam zato predlagamo nov datum – 20. september ob 17. uri. </strong
        >Če vam predlagani datum ne ustreza, vas prosimo, da se uskladite in nam
        najkasneje <strong>do 21. avgusta</strong> sporočite novega.
      </p>
      <p class="intro-text">
        Verjamemo, da bo soočenje v odprtem in javnem prostoru pomembno, odmevno
        in povsem drugačno od siceršnjih razprav o uresničevanju vladnih zavez.
        <strong
          >Predvsem pa bo to odlična priložnost, da se znova obudi konstruktiven
          dialog s prebivalkami in prebivalci Slovenije, ki si ga vsi
          želimo.</strong
        >
      </p>

      <p class="intro-text">
        Z lepimi pozdravi<br />
        <strong>Glas ljudstva</strong>
      </p>

      <p class="intro-text">
        <br />
      </p>

      <p class="intro-text">
        <strong>P. S.</strong> Spomin je pogosto nezanesljiv sopotnik, še
        posebej takrat, ko smo preplavljeni z neodložljivimi obveznostmi. Prav
        zato nam dovolite, da navedemo nekaj vaših misli in citatov, ki
        priklicujejo naravnanost, vzdušje in občutke, ki so prevevali čas
        državnozborskih volitev:
      </p>
      <p class="intro-text">
        <strong>Dr. Robert Golob (prva izjava po zaprtju volišč):</strong>
        "Hkrati bi rad izrazil svoj poklon civilni družbi. Brez vas nas danes
        tukaj ne bi bilo. Vi ste nam bili inspiracija, tako mlajši del civilne
        družbe kot starejši del civilne družbe. Vi ste nam bili inspiracija s
        svojim neusmiljenim in nepopustljivim bojem za demokracijo, za pravno
        državo, za svobodo. Zato, da smo se organizirali v gibanje, Gibanje
        Svoboda, naredili stranko in stranko popeljali do zmage. Zmage, ki je
        namenjena nam, je namenjena vsem vam, predvsem je pa namenjena svobodi.
        In zato, za vaš trud, za vaš boj, vam bom izražal vso hvaležnost in
        verjemite, da tudi po volitvah boste imeli dejansko moja ušesa, pa ne
        samo moja, od vseh nas, in verjamem, da bo naša koalicija z vami, s
        civilno družbo, tisti temeljni prelom s sedanjo politično prakso v
        Sloveniji, ki bo Slovenijo popeljal v boljše čase."
      </p>
      <p class="intro-text">
        Vir:
        <a href="https://www.youtube.com/watch?v=mvuMURh7aZg" target="_blank"
          >https://www.youtube.com/watch?v=mvuMURh7aZg</a
        >
      </p>
      <p class="intro-text">
        <strong>Tanja Fajon:</strong> "Socialni demokrati smo edina politična
        stranka, ki imamo v svojem programu na koncu partnersko demokracijo z
        vsemi 138 zahtevami Glasu ljudstva."
      </p>
      <p class="intro-text">
        <strong>Luka Mesec:</strong> "Prvič; dejanšizacija, konec sovraštva,
        konec strahu, avtonomija institucij in partnerstvo s civilno družbo."
      </p>
      <p class="intro-text">
        Vir:
        <a href="https://fb.watch/ljHMjXcIq6/" target="_blank"
          >https://fb.watch/ljHMjXcIq6/</a
        >
      </p>
    </div>
  </div>
</div>
