{% load static %}
<div class="row">
    <div class="col" style="justify-content: center">
        <div class="monitoring-intro">
            <h1>
                PRIDRUŽITE SE NAM PRI KAMPANJI “USTAVIMO RUŠENJE JAVNEGA ZDRAVSTVA”
            </h1>

            <style>
                button,
                a.button {
                    border-radius: 0;
                    min-width: 157px;
                    height: 48px;
                    border: 2px solid #ed1c24;
                    background-color: #ffffff;
                    font-family: 'freesansboldoblique';
                    font-size: 20px;
                    text-decoration: underline;
                    margin-top: 10px;
                    cursor: pointer;
                    padding-left: 20px;
                    padding-right: 20px;
                }

                button:hover,
                a.button:hover {
                    background-color: #f3f3f3;
                }
            </style>

            <div class="intro-text" style="text-align: center; margin-bottom: 30px;">
                <a class="button"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSceenTvaA6LqDx4Rd9Lar5OT4zpKYiSOwJUNGvhc16K5gm5ZQ/viewform"
                    target="_blank">Pridruži se kampanji!</a>
            </div>

            <p class="intro-text">
                Stanje v zdravstvu je vedno bolj katastrofalno. Nedopustno dolgo čaka 120.000 bolnikov, kar je 40.000
                več kot leto poprej, v javnih bolnišnicah so obravnavali 15.000 bolnikov manj kot leta 2019, in opravili
                60.000 prvih pregledov manj, opravili so tudi manj ortopedskih in srčnih operacij. Število pacientov
                brez izbranega zdravnika se je samo v zadnjih nekaj mesecih povečalo s 132.000 na 140.000. Minister za
                zdravje je pred devetimi meseci napovedal, da se bodo čakalne dobe v enem letu prepolovile, a se to ni
                zgodilo.
            </p>

            <p class="intro-text">Zdravstvene zavarovalnice so ob tem napovedale, da bodo premije za dopolnilno
                zdravstveno zavarovanje povišale kar za 30%. In to v času velike krize, inflacije, ko mnogo ljudi le
                stežka plačuje račune, zavarovalnice pa dosegajo prav v tem času rekordne dobičke in zaloge. </p>

            <p class="intro-text">Vse bolj jasno postaja, da se resnična zdravstvena reforma dogaja na ministrstvu,
                skrita pred očmi javnosti in da ta vodi v privatizacijo zdravstva, kjer bomo previvalke in prebivalci
                plačevali za to, da bodo z javnimi sredstvi bogatele elite. </p>

            <p class="intro-text">Čas je, da se to zaustavi. Zdravstvena reforma ne sme sloneti na privatnih interesih
                lobistov, ampak mora upoštevati in temeljiti na potrebah ljudi, pacientk in pacientov. </p>


            <p class="intro-text">
                <strong>
                    V iniciativi Glas ljudstva zato zahtevamo konkretna dejanja in takojšnje ukrepanje. V ta namen smo
                    napisali predloge treh zakonov:
                </strong>
            </p>
            <ul class="intro-text">
                <li>interventni zakon, v katerem predlagamo rešitve za krepitev javnega zdravstva</li>
                <li>paket dveh zakonskih sprememb, s katerima ukinjamo dopolnilno zdravstveno zavarovanje in predlagamo
                    pravičnejši davek-</li>
            </ul>
            <p class="intro-text">Zakone smo predstavili predsedniku vlade in poslanskim skupinam, predstavljamo pa jih
                tudi širši javnosti: </p>

            <ul class="intro-text">
                <li><a href="{% static 'pdf/GL-interventni-zakon.pdf' %}" target="_blank">
                        Predlog zakona o spremembah in dopolnitvah Zakona o nujnih ukrepih za zagotovitev stabilnosti
                        zdravstvenega
                        sistema;
                    </a></li>
                <li><a href="{% static 'pdf/GL-ZZVZZ.pdf' %}" target="_blank">Predlog zakona o spremembah in dopolnitvah
                        Zakona
                        o zdravstvenem varstvu in
                        zdravstvenem zavarovanju;</a></li>
                <li><a href="{% static 'pdf/GL-zakon-o-socialnih-prispevkih.pdf' %}" target="_blank">Predlog zakona o
                        spremembah
                        in dopolnitvah Zakona o prispevkih za socialno
                        varnost.</a></li>
            </ul>
        </div>
    </div>
</div>