{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
        <meta property="og:type" content="website">
        {% if og_title %}
        <meta property="og:title" content="{{ og_title }}">
        {% else %}
        <meta property="og:title" content="Glas ljudstva">
        {% endif %}
        {% if og_description %}
        <meta property="og:description" content="{{ og_description }}">
        {% else %}
        <meta property="og:description"
              content="Glas ljudstva združuje več kot 100 civilnodružbenih organizacij ter več tisoč posameznic in posameznikov z vseh družbenih področij in iz celotne Slovenije. Sledimo zavezam vlade na 138 zahtev, skrbimo za dvig volilne udeležbe na letošnjih trojnih volitvah in v središče predvolilnega časa umeščamo vsebinsko razpravo o demokratični, zeleni in pravični družbi.">
        {% endif %}
        <meta property="og:image" content="{% static 'img/glas-ljudstva-og.png' %}">
    
    
        <meta name="twitter:card" content="summary_large_image">
        {% if og_title %}
        <meta name="twitter:title" content="{{ og_title }}">
        {% else %}
        <meta name="twitter:title" content="Glas ljudstva">
        {% endif %}
        {% if og_description %}
        <meta name="twitter:description" content="{{ og_description }}">
        {% else %}
        <meta name="twitter:description"
              content="Glas ljudstva združuje več kot 100 civilnodružbenih organizacij ter več tisoč posameznic in posameznikov z vseh družbenih področij in iz celotne Slovenije. Sledimo zavezam vlade na 138 zahtev, skrbimo za dvig volilne udeležbe na letošnjih trojnih volitvah in v središče predvolilnega časa umeščamo vsebinsko razpravo o demokratični, zeleni in pravični družbi.">
        {% endif %}
        <meta name="twitter:image" content="{% static 'img/glas-ljudstva-og.png' %}">
    
        <meta name="author" content="Glas ljudstva">
        {% if og_description %}
        <meta name="description" content="{{ og_description }}">
        {% else %}
        <meta name="description"
              content="Glas ljudstva združuje več kot 100 civilnodružbenih organizacij ter več tisoč posameznic in posameznikov z vseh družbenih področij in iz celotne Slovenije. Sledimo zavezam vlade na 138 zahtev, skrbimo za dvig volilne udeležbe na letošnjih trojnih volitvah in v središče predvolilnega časa umeščamo vsebinsko razpravo o demokratični, zeleni in pravični družbi.">
        {% endif %}
    
        <title>Glas ljudstva</title>
    
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
        <script defer data-domain="glas-ljudstva.si" src="https://plausible.lb.djnd.si/js/plausible.js"></script>
    </head>
    
    <body>
        <div class="container">
            <a class="logo-anchor" href="/">
                <div class="row">
                    <div class="col">
                        <img class="logo" src="{% static 'svg/logo-glasljudstva.svg' %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><span class="wordslogo">GLAS</span><span class="wordslogo">LJUDSTVA</span></p>
                    </div>
                </div>
            </a>
            <div class="row stranke">
                <div class="sidebar">
                    <div {% if "navodila" == category_id %}class="active" {% endif %}>
                        <a href="/stranke/navodila">Navodila</a>
                    </div>
                    {% for category in categories %}
                        <div class="category-item {% if category.id == category_id %}active{% endif %}">
                            <a href="/stranke/{{ category.id }}">{{ category.name }}</a>
                            {% if category.check %}
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 122.881 89.842" enable-background="new 0 0 122.881 89.842" xml:space="preserve"><g><path d="M1.232,55.541c-1.533-1.388-1.652-3.756-0.265-5.289c1.388-1.534,3.756-1.652,5.29-0.265l34.053,30.878l76.099-79.699 c1.429-1.501,3.804-1.561,5.305-0.132c1.502,1.428,1.561,3.803,0.133,5.305L43.223,88.683l-0.005-0.005 c-1.396,1.468-3.716,1.563-5.227,0.196L1.232,55.541L1.232,55.541z"/></g></svg>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div {% if "zakljucek" == category_id %}class="active" {% endif %}>
                        <a href="/stranke/oddaja">Zaključek</a>
                    </div>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}?v=2"></script>
    </body>
</html>
