{% extends "./base.html" %}

{% block content %}

<div class="quiz-body">
    <h1>NAVODILA ZA ODGOVARJANJE NA ZAHTEVE INICIATIVE GLAS LJUDSTVA</h1>
    <p>Pred vami je seznam vseh zahtev, ki so bile pripravljene v sklopu iniciative Glas ljudstva. Prosimo vas, da jih pregledate in pri vsaki od njih zabeležite, ali se z njo strinjate. Če se z zahtevo ne strinjate, lahko zraven dopišete tudi krajši komentar z razlogi za to.</p>
    <p>Zahteve so razdeljene v tematske sklope, ki jih najdete na spisku levo.</p>
    <p>Celotnega vprašalnika ni treba izpolniti v enem kosu, saj lahko vmesno delo shranjujete s pritiskom na gumb “Shrani”, ki ga najdete na dnu vsakega sklopa vprašanj. Kadar koli se lahko vrnete v prejšnje sklope in tam spreminjate odgovore, a pri tem ne pozabite shraniti vašega dela.</p>
    <p>Ko boste zaključili z odgovarjanjem, se bo v sklopu “Zaključek” prikazal gumb “Oddaj”. S klikom nanj boste dokončno oddali odgovore, teh pa nato ne bo več mogoče spreminjati. Ko oddate svoje odgovore, jih prosimo natisnite, podpišite ter dodajte datum in uro, nato pa po pošti pošljite na X.</p>
    <div class="button-wrapper">
        <a href="/stranke/{{ next }}" class="button">Začnite</a>
    </div>
</div>

{% endblock %}