{% extends "./base.html" %}

{% block content %}

<div class="quiz-body">
    <h1>NAVODILA ZA ODGOVARJANJE V VOLITVOMATU INICIATIVE GLAS LJUDSTVA</h1>
    <p>Pred vami je seznam izbranih stališč, ki smo jih v sklopu iniciative Glas ljudstva pripravili za lokalno različico spletnega orodja Volitvomat.</p>
    <p>Prosimo vas, da jih pregledate in pri vsakem od njih zabeležite, ali se z njim strinjate (v tem primeru stališče označite z DA) oziroma ne strinjate (v tem primeru ga označite z NE). Če se s stališčem ne strinjate, potem lahko zraven podate tudi krajši komentar z razlogi za to (največ 1000 znakov).</p>
    <p>Celotnega vprašalnika ni treba izpolniti v enem kosu, saj lahko vmesno delo shranjujete s pritiskom na gumb “Shrani”, ki ga najdete na dnu strani. K izpolnjevanju se lahko vrnete kadar koli in pri tem tudi spreminjate že postavljene odgovore – a pri tem ne pozabite shraniti vašega dela.</p>
    <p>Ko boste zaključili z odgovarjanjem, se bo v sklopu “Zaključek” prikazal gumb “Oddaj”. S klikom nanj boste dokončno oddali odgovore, teh pa nato ne bo več mogoče spreminjati.</p>
    <p>Rok za oddajo odgovorov je 13. november. 2022.</p>
    <p>Hvala za sodelovanje.</p>
    <div class="button-wrapper">
        <a href="/{{ election_slug }}/kandidati_ke/{{ next }}" class="button">Začnite</a>
    </div>
</div>

{% endblock %}
