{% extends "./base.html" %}

{% block content %}

<div class="quiz-body">
    <h1>NAVODILA ZA ODGOVARJANJE NA ZAHTEVE INICIATIVE GLAS LJUDSTVA</h1>
    <p>Pred vami je seznam vseh zahtev, ki so bile pripravljene v sklopu iniciative Glas ljudstva. Prosimo vas, da jih pregledate in pri vsaki od njih zabeležite, ali se z njo strinjate in ste se pripravljeni zavezati k njeni implementaciji, v tem primeru jo označite z DA. Če se z zahtevo ne strinjate jo označite z NE in lahko hkrati podate tudi krajši komentar z razlogi za svoje stališče (max 1000 znakov).</p>
    <p>Pomembno: Ne pričakujemo, da se boste strinjali z vsemi zahtevami. Namen vprašalnika ni, da dobimo samo pritrditve, temveč, da resnično spoznamo stališča vseh strank in tudi razlike med njimi. V iniciativi Glas ljudstva je združenih več kot 100 organizacij in tudi med nami se pojavljajo razlike. Nabor zahtev ne pomeni, da se vse organizacije popolnoma strinjamo z vsemi zahtevami, ampak pomeni, da si vse želimo, da se politične stranke jasno opredelite do teh vprašanj. Tudi volivci_ke bodo pri reševanju imeli različne poglede na te teme in pričakujemo, da bodo vaše odgovore prebirali ljudje z različnimi političnimi nazori.</p>
    <p>Vprašalnik ne predstavlja samo načelnih stališč določene stranke do različnih vprašanj, ampak predstavlja resnične zaveze strank. Tudi po izvedenih volitvah bomo spremljali delovanje nove vlade in tudi na podlagi rešenega vprašalnika od strank upravičeno pričakovali implementacijo omenjenih zahtev.</p>
    <p>Zahteve so razdeljene v tematske sklope, ki jih najdete na spisku levo.</p>
    <p>Celotnega vprašalnika ni treba izpolniti v enem kosu, saj lahko vmesno delo shranjujete s pritiskom na gumb “Shrani”, ki ga najdete na dnu vsakega sklopa vprašanj. Kadarkoli se lahko vrnete v prejšnje sklope in tam spreminjate odgovore, a pri tem ne pozabite shraniti vašega dela.</p>
    <p>Ko boste zaključili z odgovarjanjem, se bo v sklopu “Zaključek” prikazal gumb “Oddaj”. S klikom nanj boste dokončno oddali odgovore, teh pa nato ne bo več mogoče spreminjati. Ko oddate svoje odgovore, jih prosimo natisnite, podpišite, ožigosajte ter dodajte datum in uro.</p>
    <p>Rok za oddajo odgovorov je  9. 2. 2022.</p>
    <div class="button-wrapper">
        <a href="/stranke/{{ next }}" class="button">Začnite</a>
    </div>
</div>

{% endblock %}
