{% extends 'zahteve/frame.html' %}
{% load static %}
{% load dictionary %}

{% block content %}

<style>

    .filters {
        padding: 20px 30px;
        background-color: #f3f3f3;
    }

    @media only screen and (min-width: 768px) {
        .filters-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .filters-header h3 {
        margin-top: 0;
    }

    .filters-header button {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        height: unset;
        min-width: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'freesansbold', sans-serif;
        font-size: 16px;
    }

    .filters-button-icon {
        width: 16px;
        height: auto;
        margin-left: 5px;
        margin-bottom: 2px;
        /* transform: rotate(180deg); */
    }

    .filters .refresh-filters {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    @media only screen and (min-width: 768px) {
        .filters .refresh-filters {
            margin-top: 0;
        }
    }

    /* .filters .refresh-filters img {
        margin-left: 5px;
        margin-bottom: 2px;
    } */

    .filters form {
        margin-top: 30px;
        display: none;
    }

    .filters form label {
        /* font-family: 'freesansbold', sans-serif; */
        font-family: 'linlibertine';
        font-weight: normal;
    }

    .filters form label.filters-label {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .filters form label.filters-label.empty {
        height: 17px;
    }

    .filters form input {
        width: unset;
        height: unset;
    }

    .filters form .filters-submit {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .filters form input[type=submit] {
        font-size: 16px;
        line-height: 32px;
        padding: 0 20px;
        cursor: pointer;
        color: black;
    }

    .monitoring-header {
        text-align: center;
        /* margin-bottom: 40px; */
        font-size: 36px;
        line-height: 1.25;
        color: black;
        margin-top: 60px;
    }

    .monitoring-subheader {
        max-width: 700px;
        margin: auto;
        margin-top: 10px;
    }

    .filters hr {
        margin: 10px 0;
        border-bottom: 0;
        border-top: 0;
    }

    .filters-row .filters-col:first-of-type {
        margin-bottom: 20px;
    }

    @media only screen and (min-width: 768px) {
        .filters-row {
            display: flex;
        }

        .filters-row .filters-col {
            display: inline-flex;
            flex-direction: column;
            justify-content: end;
        }

        .filters-row .filters-col:first-of-type {
            width: 50%;
            max-width: 50%;
            padding-right: 10px;
            margin-bottom: 0;
        }

        .filters-row .filters-col:last-of-type {
            width: 50%;
            max-width: 50%;
            padding-left: 10px;
        }

        #id_responsible_state_bodies {
            display: flex;
            flex-wrap: wrap;
        }

        #id_responsible_state_bodies > div {
            flex: 50%;
        }
    }

    .reports-list {
        margin: 40px 0;
    }

    .list-row-header {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
    }

    .list-row {
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    .list-row-header {
        padding-bottom: 10px;
        border-bottom: 2px solid #ed1c24;
        font-family: 'linlibertine';
        font-size: 18px;
    }

    .list-row {
        padding: 10px 0;
        font-weight: normal;
    }

    .list-row:hover {
        background-color: #f3f3f3;
    }

    .list-row .col-1,
    .list-row-header .col-1 {
        overflow-wrap: break-word;
        line-height: 1.25;
        padding: 0 10px;
    }

    .list-row .col-2,
    .list-row-header .col-2 {
        overflow-wrap: break-word;
        line-height: 1.25;
        padding: 0 10px;
        margin-top: 5px;
        font-size: 12px;
    }

    .list-row-header .col-1 {
        display: flex;
        align-items: end;
    }

    .list-row-header .col-2 {
        display: none;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        height: unset;
        min-width: unset;
        text-decoration: none;
        font-family: 'linlibertine';
        font-size: 18px;
    }

    @media only screen and (min-width: 768px) {
        .list-row {
            flex-direction: row;
            justify-content: space-between;
        }

        .list-row-header .col-2 {
            display: flex;
            justify-content: center;
            padding: 0 10px;
        }

        .list-row .col-2,
        .list-row-header .col-2 {
            width: 20%;
            display: block;
            text-align: center;
            font-size: 16px;
            margin-top: 0;
        }

        .list-row .col-1,
        .list-row-header .col-1 {
            width: 40%;
        }

        .list-row .mobile-label {
            display: none;
        }
    }

    .priority-icon {
        width: 20px;
        height: auto;
    }

    .sort-icon {
        width: 12px;
        height: auto;
        margin-left: 5px;
        transform: rotate(180deg);
    }

    .filters select {
        border: 1px solid black;
        padding: 5px 10px;
        width: 100%;
    }

    .no-reports-found {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }

    .no-reports-found h3 {
        padding: 0 10px;
        font-size: 24px;
    }

    .no-reports-found img {
        width: 40px;
        height: auto;
    }

    .infographics {
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }

    @media (min-width: 768px) {
        .infographics > div {
            min-width: 500px;
        }
    }

    .infographics-row {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 768px) {
        .infographics-row {
            flex-direction: row;
        }
    }

    .report-dots {
        display: flex;
        justify-content: center;
    }

    @media (min-width: 768px) {
        .report-dots {
            justify-content: start;
        }
    }

    .infographics .status-name {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        text-transform: uppercase;
        /* color: #565656; */
        font-size: 16px;
        font-weight: 700;
    }

    @media (min-width: 768px) {
        .infographics .status-name {
            min-width: 200px;
            justify-content: end;
        }
      }

    .infographics a.status-name:hover {
        color: green;
    }

    .infographics .option {
        margin-right: 5px;
    }

    @media (min-width: 768px) {
        .infographics .option {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    .infographics .status-circle {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 2px solid black;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .infographics .status-circle img {
        width: 1rem;
        height: 1rem;
    }

    @media (min-width: 768px) {
        .infographics .status-circle {
            width: 2rem;
            height: 2rem;
            margin: 5px;
        }

        .infographics .status-circle img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .methodology {
        max-width: 700px;
        margin: auto;
    }

    .methodology h3 {
        margin-top: 40px;
    }

    .methodology p, li {
        color: #000000;
        font-family: 'linlibertine';
        font-size: 20px;
        line-height: 1.25;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .methodology li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .scroll-to-filters-button-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

</style>

<h1 class="monitoring-header">MONITORING ZAVEZ</h1>

<div class="row">
    <div class="col">
        <h2 class="monitoring-subheader">NOSILCE_KE OBLASTI DRŽIMO ZA BESEDO. ZAHTEVE CIVILNE DRUŽBE NAJ BODO UPOŠTEVANE!</h2>
        <p class="intro-text">
            Pred državnozborskimi volitvami aprila 2022 je iniciativa Glas ljudstva pripravila nabor <a href="https://drive.google.com/file/d/1KsV7T2rDazcRKhnTEQoE8QcDzoGzO0vz/view" target="_blank">138 zahtev</a>, razdeljenih na enajst področij. Zaveze so bile oblikovane na podlagi večmesečnih posvetovanj z različnimi organizacijami, strokovnjaki_njami, prek posvetovanj na spletnih javnih tribunah ter na trgih in ulicah. Vse stranke, ki so kandidirale na volitvah, smo pozvali, naj se do zahtev opredelijo - tri stranke, ki so po volitvah sestavile vlado, so se skupno zavezale k uresničitvi 122 zahtev.
            <br>
            <br>
            Iniciativa Glas ljudstva bo do konca mandata vlade, ki so jo oblikovale omenjene stranke, budno spremljala uresničevanje predvolilnih zavez in ocenila napredek pri implementaciji zavez ter sodelovanja s civilno družbo. Marca 2023 je bilo objavljeno prvo poročilo monitoringa, v februarju 2024 pa osveženo drugo poročilo. Cilj monitoringa zavez je povečanje politične odgovornosti nosilk_cev oblasti z namenom krepitve demokracije in politik, usmerjenih v dolgoročno dobrobit ljudi in narave. Ne pristajamo na politične obljube, dejanja so tista, ki štejejo.
            <br>
            <br>
            Zadnja osvežitev podatkov: 16. 12. 2025
        </p>
    </div>
</div>

<div class="infographics">
    <div>
        {% for state in demand_states %}
            <div class="infographics-row">
                <div>
                    {% if reports_by_states|dictionary:state.name|length > 0 %}
                    <div class="status-name">
                        <span>{{ state.name }} ({{ reports_by_states|dictionary:state.name|length }})</span>
                    </div>
                    {% else %}
                    <div class="status-name">
                        <span>{{ state.name }} ({{ reports_by_states|dictionary:state.name|length }})</span>
                    </div>
                    {% endif %}
                </div>
                <div class="option">
                    <div>
                        <div class="report-dots">
                        {% for report in reports_by_states|dictionary:state.name %}
                        <a title="{{ report.demand.title }}" href="/monitoring-zaveze/{{ report.id }}" class="status-circle">
                            <img src="{% static 'svg/logo-glasljudstva.svg' %}">
                        </a>

                        {% if forloop.counter|divisibleby:10 %}
                        </div>
                        <div class="report-dots">
                        {% endif %}

                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!--

<div class="sub-header">
  <h2 style="text-align: center">
    <a id="pdf" href="/drzavnozborske-volitve-2022/" target="_blank"
      >Pregled vseh zahtev iniciative Glas ljudstva.</a
    >
  </h2>
</div>

<div class="divider"></div>

-->

<div class="filters" id="filters-id">

    <div class="filters-header">
        <button type="button" id="toggle-filters-button">
            <span id="toggle-filters-button-text">POKAŽI FILTRE</span>
            <img src="{% static 'svg/down.svg' %}" id="filters-button-icon" class="filters-button-icon">
        </button>
        {% if election_slug %}
        <a href="/monitoring/{{ election_slug }}" class="refresh-filters">PONASTAVI FILTRE<img src="{% static 'svg/refresh.svg' %}" class="filters-button-icon"></a>
        {% else %}
        <a href="/monitoring" class="refresh-filters">PONASTAVI FILTRE<img src="{% static 'svg/refresh.svg' %}" class="filters-button-icon"></a>
        {% endif %}
    </div>

    <form method="get" id="filters-form">

        <div class="filters-row">
            <div class="filters-col">
                <label for="{{ form.working_body.id_for_label }}" class="filters-label">Področja dela:</label>
                {{ form.working_body }}
            </div>
            <div class="filters-col">
                <label for="{{ form.state.id_for_label }}" class="filters-label">Napredek pri uresničevanju zaveze:</label>
                {{ form.state }}
            </div>
        </div>

        <hr />

        <div class="filters-row">
            <div class="filters-col">
                <label for="{{ form.cooperative.id_for_label }}" class="filters-label">Državni organ(i) so iniciativi Glas ljudstva poslali pojasnila/odgovor o uresničevanju zaveze</label>
                {{ form.cooperative }}
            </div>
            <div class="filters-col">
                <label for="{{ form.present_in_coalition_treaty.id_for_label }}" class="filters-label">Je predvolilna zaveza vključena v koalicijsko pogodbo?</label>
                {{ form.present_in_coalition_treaty }}
            </div>
        </div>

        <hr />

        <div>
            <label for="{{ form.is_priority_demand.id_for_label }}" class="filters-label">
                {{ form.is_priority_demand }}
                Prioritetna zaveza
            </label>
        </div>

        <hr />

        <div>
            <label for="{{ form.responsible_state_bodies.id_for_label }}" class="filters-label">Državni organ(i), pristojni za uresničevanje zaveze:</label>
            {{ form.responsible_state_bodies }}
        </div>

        <hr />

        <div class="filters-row">
            <div class="filters-col">
                <label class="filters-label">Razvrsti po:</label>
                {{ form.sort_by }}
            </div>

            <div class="filters-col">
                <label class="filters-label empty"></label>
                {{ form.sort_dir }}
            </div>
        </div>

        <hr />

        <div class="filters-submit">
            <input type="submit" value="Filtriraj">
        </div>

    </form>

</div>

{% if mrs %}

<div class="reports-list" id="reports-list-id">

    <div class="list-row-header">
        <div class="col-1">
            Zaveza
        </div>
        <button class="col-2" value="state">
            Napredek
        </button>
        <button class="col-2" value="workgroup">
            Področje dela
        </button>
    </div>

    {% for monitoring_report in mrs %}

    <a href="/monitoring-zaveze/{{ monitoring_report.id }}" class="list-row">
        <div class="col-1">
            {{ monitoring_report.demand.title }}
        </div>
        <div class="col-2">
            <span class="mobile-label">Napredek: </span>{{ monitoring_report.state.name }}
        </div>
        <div class="col-2">
            <span class="mobile-label">Področje dela: </span>{{ monitoring_report.demand.workgroup }}
        </div>
    </a>

    {% endfor %}

    <div class="scroll-to-filters-button-wrapper">
        <button onclick="scrollToFilters()">Nazaj na filtre</button>
    </div>

</div>

{% else %}

<div class="no-reports-found">
    <img src="{% static 'svg/not-found.svg' %}" />
    <h3>Nobena zaveza ne ustreza danim filtrom. </h3>
</div>

{% endif %}

<div class="divider"></div>

<div class="methodology">

    <h2 class="monitoring-header">METODOLOGIJA MONITORINGA ZAVEZ</h2>

    <p>Pred državnozborskimi volitvami aprila 2022 je iniciativa Glas ljudstva pripravila nabor 138 zahtev, razdeljenih na enajst področij. Zaveze so bile oblikovane na podlagi večmesečnih posvetovanj z različnimi organizacijami, strokovnjaki_njami, prek posvetovanj na spletnih javnih tribunah ter na trgih in ulicah. Vse stranke, ki so kandidirale na volitvah, smo pozvali, naj se do zahtev opredelijo - tri stranke, ki so po volitvah sestavile vlado, so se skupno zavezale k uresničitvi 122 zahtev.</p>
    <p>Iniciativa Glas ljudstva bo do konca mandata vlade, ki so jo oblikovale omenjene stranke, budno spremljala uresničevanje predvolilnih zavez in ocenila napredek pri implementaciji zavez ter sodelovanja s civilno družbo. Marca 2023 je bilo objavljeno prvo poročilo monitoringa, v februarju 2024 pa osveženo drugo poročilo. Cilj monitoringa zavez je povečanje politične odgovornosti nosilk_cev oblasti z namenom krepitve demokracije in politik, usmerjenih v dolgoročno dobrobit ljudi in narave. Ne pristajamo na politične obljube, dejanja so tista, ki štejejo.</p>

    <h3>Kdo spremlja uresničevanje zavez?</h3>
    <p>Monitoring izvajajo posamezniki_ce iz različnih organizacij civilne družbe ter strokovnjaki_nje, ki sodelujejo v iniciativi Glas ljudstva. Delujejo v strokovnih skupinah, razdeljenih na enajst vsebinskih področij; vsaka skupina ima svojega koordinatorja_ko.</p>
    <p>Strokovne skupine sodelujejo v okviru skupine za monitoring, ki se redno sestaja, spremlja delo vlade ter redno objavlja ugotovitve monitoringa. Z ozaveščanjem javnosti ter ugotovitvami monitoringa omogoča informiranje javnosti o delu vlade.</p>
    <p>Ugotovitve podajamo v periodičnih poročilih; prvo poročilo je bilo objavljeno v marcu  2023 in zajema obdobje vse od imenovanja vlade.</p>
    <p>Poleg tega se Glas ljudstva na delo vlade odziva še z drugimi akcijami, zagovorniškimi aktivnostmi in kampanjami, s katerimi prispeva k uresničevanju zavez.</p>

    <h3>Kako spremljamo uresničevanje posamezne zaveze?</h3>
    <p>Postopek spremljanja implementacije zavez zajema naslednje korake:</p>
    <ol>
        <li>redno spremljanje dela vlade, državnega zbora, državnega sveta, ministrstev in drugih relevantnih institucij;</li>
        <li>poziv pristojnim ministrstvom in institucijam, naj nam posredujejo podatke o izvedenih in sprejetih ukrepih ter drugih korakih za izpolnjevanje zavez oziroma o načrtih za izpolnitev zavez;</li>
        <li>pregled posredovanih gradiv, primerjava ugotovitev in analiza stanja;</li>
        <li>pridobivanje in pregledovanje informacij ter dokumentov drugih državnih organov, institucij, organizacij, podjetij, posameznic_kov;</li>
        <li>priprava poročila o ugotovitvah uresničevanja zavez s strani koordinatork_jev skupin, strokovnjakov_inj in predstavnic_kov organizacij iniciative Glas ljudstva;</li>
        <li>uredništvo in lektura;</li>
        <li>predstavitev rezultatov monitoringa članom_icam, podpornikom_cam in javnosti.</li>
    </ol>

    <h3>Kaj vsebujejo periodična poročila o uresničevanju zavez?</h3>
    <p>Poročila o monitoringu vsebujejo:</p>
    <ul>
        <li>pregled zavez na posameznih področjih in oceno napredka pri uresničevanju;</li>
        <li>indikator sodelovanja državnih organov s civilno družbo;</li>
        <li>krajši opis ugotovitev;</li>
        <li>oceno napredka v primerjavi s prejšnjim poročilom (od drugega periodičnega poročila dalje);</li>
        <li>seznam organov, pristojnih za implementacijo zaveze.</li>
    </ul>

    <h3>Kaj pomeni ocena napredka uresničevanja zavez?</h3>
    <p>Tipologija za oceno napredka uresničevanja zavez zajema naslednjih šest kategorij:</p>
    <ul>
        <li><strong>izpolnjena</strong>: zaveza je v celoti uresničena;</li>
        <li><strong>delno izpolnjena</strong>: nekateri elementi zaveze so uresničeni;</li>
        <li><strong>v izvajanju</strong>: delo za uresničitev zaveze še poteka;</li>
        <li><strong>zastala</strong>: poskusi uresničevanja zaveze so bili neuspešni;</li>
        <li><strong>nedotaknjena</strong>: sploh ni prizadevanj ali poskusov, da bi zavezo uresničili;</li>
        <li><strong>prelomljena</strong>: državni organi delujejo v nasprotju z zavezo.</li>
    </ul>

</div>

<div class="divider"></div>

<script type="text/javascript">
    function scrollToFilters(val) {
        document.getElementById("filters-id").scrollIntoView({ behavior: "smooth", block: "start" })
    }

    document.getElementById("toggle-filters-button").addEventListener("click", function(event) {
        const textElement = document.getElementById("toggle-filters-button-text")
        const currentText = textElement.innerText
        const newText = currentText === "POKAŽI FILTRE" ? "SKRIJ FILTRE" : "POKAŽI FILTRE"
        textElement.innerText = newText

        const formElement = document.getElementById("filters-form")
        formElement.style.display = currentText === "POKAŽI FILTRE" ? "block" : "none"

        const iconElement = document.getElementById("filters-button-icon")
        iconElement.style.transform = currentText === "POKAŽI FILTRE" ? "rotate(180deg)" : "rotate(0)"
    })

    if (window.location.search) {
        document.getElementById("filters-form").style.display = "block"
        document.getElementById("filters-button-icon").style.transform = "rotate(180deg)"
        document.getElementById("toggle-filters-button-text").innerText = "SKRIJ FILTRE"
        document.getElementById("reports-list-id").scrollIntoView({ behavior: "smooth", block: "start" })
    }

</script>

{% endblock %}
